# NCEI
<br>

- 지점정보
    - 링크 내용은 동일함
    - https://www.ncei.noaa.gov/pub/data/noaa/isd-history.txt(내용확인)
    - https://www.ncei.noaa.gov/pub/data/noaa/isd-history.csv(파일다운로드)
- 국가 코드
    - Country list
        - 국가명과 국가 2글자 표현 짝 정리된 것
        - 후에 요청인자 중 stn 구성요소인 지점코드값의 국가 부분을 해석하는데에 사용
        - 293개국 존재
- 파일 리스트
    - File list
        - 파일목록
        - 파일명과 파일 크기가 나열됨
        - 후술될 요청인자 중 stn의 구성요소인 지점코드 값으로 활용할 수 있음
            - 국가 2글자, 망구분 1글자, 지점번호 9글자를 가져올 소스
        - 122236개 있음
- 실제 파일 리스트
    - data_climate/gsom-latest 내부에 존재하는 파일들
    - 122041개 있음

## 활용 library

In [1]:
import pandas as pd
import numpy as np
import os

## Country List와 File List 병합
- FileList의 파일명 5,6 번째 글자와 Country List의 FIPS ID가 동일하면 후자의 Country Name을 추가해준다

In [2]:
dfCountry = pd.read_csv('data_climate/country_list.csv', sep = ',',
                        encoding = 'euc-kr', engine = 'python')
dfFileList = pd.read_csv('data_climate/file_list.csv', sep = ',',
                  encoding = 'euc-kr', engine = 'python')

In [3]:
dfCountry

    FIPS ID                            COUNTRY NAME
0        AA                                   ARUBA
1        AC                     ANTIGUA AND BARBUDA
2        AF                             AFGHANISTAN
3        AG                                 ALGERIA
4        AI                        ASCENSION ISLAND
..      ...                                     ...
288      YY    ST. MARTEEN, ST. EUSTATIUS, AND SABA
289      ZA                                  ZAMBIA
290      ZI                                ZIMBABWE
291      ZM                                   SAMOA
292      ZZ          ST. MARTIN AND ST. BARTHOLOMEW

[293 rows x 2 columns]

In [4]:
dfFileList

                        FILE    SIZE
0       gsom_ACW00011604.csv    4036
1       gsom_ACW00011647.csv   34313
2       gsom_AE000041196.csv  130742
3       gsom_AEM00041194.csv  100242
4       gsom_AEM00041217.csv   85259
...                      ...     ...
122231  gsom_ZI000067965.csv  114617
122232  gsom_ZI000067969.csv  116596
122233  gsom_ZI000067975.csv  200883
122234  gsom_ZI000067977.csv   84153
122235  gsom_ZI000067983.csv  193672

[122236 rows x 2 columns]

In [5]:
dfFileList['ID'] = dfFileList['FILE'].str[5:7]
dfFileList

                        FILE    SIZE  ID
0       gsom_ACW00011604.csv    4036  AC
1       gsom_ACW00011647.csv   34313  AC
2       gsom_AE000041196.csv  130742  AE
3       gsom_AEM00041194.csv  100242  AE
4       gsom_AEM00041217.csv   85259  AE
...                      ...     ...  ..
122231  gsom_ZI000067965.csv  114617  ZI
122232  gsom_ZI000067969.csv  116596  ZI
122233  gsom_ZI000067975.csv  200883  ZI
122234  gsom_ZI000067977.csv   84153  ZI
122235  gsom_ZI000067983.csv  193672  ZI

[122236 rows x 3 columns]

In [6]:
dfCountryList = pd.merge(dfFileList, dfCountry,
                         how = 'left',
                         left_on = 'ID',
                         right_on = 'FIPS ID')
dfCountryList

                        FILE    SIZE  ID FIPS ID           COUNTRY NAME
0       gsom_ACW00011604.csv    4036  AC      AC    ANTIGUA AND BARBUDA
1       gsom_ACW00011647.csv   34313  AC      AC    ANTIGUA AND BARBUDA
2       gsom_AE000041196.csv  130742  AE     NaN                    NaN
3       gsom_AEM00041194.csv  100242  AE     NaN                    NaN
4       gsom_AEM00041217.csv   85259  AE     NaN                    NaN
...                      ...     ...  ..     ...                    ...
122231  gsom_ZI000067965.csv  114617  ZI      ZI               ZIMBABWE
122232  gsom_ZI000067969.csv  116596  ZI      ZI               ZIMBABWE
122233  gsom_ZI000067975.csv  200883  ZI      ZI               ZIMBABWE
122234  gsom_ZI000067977.csv   84153  ZI      ZI               ZIMBABWE
122235  gsom_ZI000067983.csv  193672  ZI      ZI               ZIMBABWE

[122236 rows x 5 columns]

In [7]:
dfCountryList.isnull().sum()

FILE            0
SIZE            0
ID              0
FIPS ID         6
COUNTRY NAME    6
dtype: int64

In [8]:
dfCountryList[dfCountryList['FIPS ID'].isnull()]

                       FILE    SIZE  ID FIPS ID COUNTRY NAME
2      gsom_AE000041196.csv  130742  AE     NaN          NaN
3      gsom_AEM00041194.csv  100242  AE     NaN          NaN
4      gsom_AEM00041217.csv   85259  AE     NaN          NaN
5      gsom_AEM00041218.csv   48310  AE     NaN          NaN
46733  gsom_NNM00078866.csv   54757  NN     NaN          NaN
52317  gsom_UCM00078988.csv   56684  UC     NaN          NaN

In [9]:
CountryNull = dfCountryList[dfCountryList['FIPS ID'].isnull()]['ID'].unique()
CountryNull

array(['AE', 'NN', 'UC'], dtype=object)

In [10]:
dfCountryList['FILENM'] = dfCountryList['FILE'].str[5:]
dfCountryList

,FILE,SIZE,ID,FIPS ID,COUNTRY NAME,FILENM
0,gsom_ACW00011604.csv,4036,AC,AC,ANTIGUA AND BARBUDA,ACW00011604.csv
1,gsom_ACW00011647.csv,34313,AC,AC,ANTIGUA AND BARBUDA,ACW00011647.csv
2,gsom_AE000041196.csv,130742,AE,NaN,NaN,AE000041196.csv
3,gsom_AEM00041194.csv,100242,AE,NaN,NaN,AEM00041194.csv
4,gsom_AEM00041217.csv,85259,AE,NaN,NaN,AEM00041217.csv
...,...,...,...,...,...,...
122231,gsom_ZI000067965.csv,114617,ZI,ZI,ZIMBABWE,ZI000067965.csv
122232,gsom_ZI000067969.csv,116596,ZI,ZI,ZIMBABWE,ZI000067969.csv
122233,gsom_ZI000067975.csv,200883,ZI,ZI,ZIMBABWE,ZI000067975.csv
122234,gsom_ZI000067977.csv,84153,ZI,ZI,ZIMBABWE,ZI000067977.csv
122235,gsom_ZI000067983.csv,193672,ZI,ZI,ZIMBABWE,ZI000067983.csv

## NCEI 파일 목록을 가져오기

In [11]:
path = 'data_climate/gsom-latest'
file_list = os.listdir(path)
file_list_csv = [file for file in file_list if file.endswith(".csv")]

In [12]:
len(file_list_csv)

122041

가지고 있는 파일과 파일리스트를 merge하여 파일 보유 정보를 확인하기

In [13]:
dfRealFileList = pd.DataFrame(file_list_csv, columns = ['RealFileNM'])

In [14]:
dfRealFileList

             RealFileNM
0       ACW00011604.csv
1       ACW00011647.csv
2       AE000041196.csv
3       AEM00041194.csv
4       AEM00041217.csv
...                 ...
122036  ZI000067969.csv
122037  ZI000067975.csv
122038  ZI000067977.csv
122039  ZI000067983.csv
122040  ZI000067991.csv

[122041 rows x 1 columns]

In [15]:
dfFinalFileList = pd.merge(dfRealFileList, dfCountryList,
                           how = 'left',
                           left_on = 'RealFileNM',
                           right_on = 'FILENM')
dfFinalFileList

,RealFileNM,FILE,SIZE,ID,FIPS ID,COUNTRY NAME,FILENM
0,ACW00011604.csv,gsom_ACW00011604.csv,4036.0,AC,AC,ANTIGUA AND BARBUDA,ACW00011604.csv
1,ACW00011647.csv,gsom_ACW00011647.csv,34313.0,AC,AC,ANTIGUA AND BARBUDA,ACW00011647.csv
2,AE000041196.csv,gsom_AE000041196.csv,130742.0,AE,NaN,NaN,AE000041196.csv
3,AEM00041194.csv,gsom_AEM00041194.csv,100242.0,AE,NaN,NaN,AEM00041194.csv
4,AEM00041217.csv,gsom_AEM00041217.csv,85259.0,AE,NaN,NaN,AEM00041217.csv
...,...,...,...,...,...,...,...
122036,ZI000067969.csv,gsom_ZI000067969.csv,116596.0,ZI,ZI,ZIMBABWE,ZI000067969.csv
122037,ZI000067975.csv,gsom_ZI000067975.csv,200883.0,ZI,ZI,ZIMBABWE,ZI000067975.csv
122038,ZI000067977.csv,gsom_ZI000067977.csv,84153.0,ZI,ZI,ZIMBABWE,ZI000067977.csv
122039,ZI000067983.csv,gsom_ZI000067983.csv,193672.0,ZI,ZI,ZIMBABWE,ZI000067983.csv
122040,ZI000067991.csv,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
dfFinalFileList.isnull().sum()

RealFileNM       0
FILE            10
SIZE            10
ID              10
FIPS ID         16
COUNTRY NAME    16
FILENM          10
dtype: int64

In [17]:
# 파일리스트를 참고해도 파악 안되는 곳
# 필요시 수기로 찾아봐야 함
dfFinalFileList[dfFinalFileList['FIPS ID'].isnull()]

,RealFileNM,FILE,SIZE,ID,FIPS ID,COUNTRY NAME,FILENM
2,AE000041196.csv,gsom_AE000041196.csv,130742.0,AE,NaN,NaN,AE000041196.csv
3,AEM00041194.csv,gsom_AEM00041194.csv,100242.0,AE,NaN,NaN,AEM00041194.csv
4,AEM00041217.csv,gsom_AEM00041217.csv,85259.0,AE,NaN,NaN,AEM00041217.csv
5,AEM00041218.csv,gsom_AEM00041218.csv,48310.0,AE,NaN,NaN,AEM00041218.csv
46730,NNM00078866.csv,gsom_NNM00078866.csv,54757.0,NN,NaN,NaN,NNM00078866.csv
52313,UCM00078988.csv,gsom_UCM00078988.csv,56684.0,UC,NaN,NaN,UCM00078988.csv
56124,US1AZYV0208.csv,NaN,NaN,NaN,NaN,NaN,NaN
59946,US1COLR1064.csv,NaN,NaN,NaN,NaN,NaN,NaN
72280,US1MNHN0366.csv,NaN,NaN,NaN,NaN,NaN,NaN
74840,US1NCBC0173.csv,NaN,NaN,NaN,NaN,NaN,NaN
76660,US1NDCS0071.csv,NaN,NaN,NaN,NaN,NaN,NaN
81445,US1OKLN0013.csv,NaN,NaN,NaN,NaN,NaN,NaN
85220,US1SDMH0059.csv,NaN,NaN,NaN,NaN,NaN,NaN
89102,US1TXMCL025.csv,NaN,NaN,NaN,NaN,NaN,NaN
90634,US1UTWB0023.csv,NaN,NaN,NaN,NaN,NaN,NaN
122040,ZI000067991.csv,NaN,NaN,NaN,NaN,NaN,NaN

## 모든 지역 위치정보 가져오기
- 모든 파일 첫 줄을 가져오기

In [18]:
dfRealFileList

             RealFileNM
0       ACW00011604.csv
1       ACW00011647.csv
2       AE000041196.csv
3       AEM00041194.csv
4       AEM00041217.csv
...                 ...
122036  ZI000067969.csv
122037  ZI000067975.csv
122038  ZI000067977.csv
122039  ZI000067983.csv
122040  ZI000067991.csv

[122041 rows x 1 columns]

In [19]:
file_list_csv

['ACW00011604.csv',
 'ACW00011647.csv',
 'AE000041196.csv',
 'AEM00041194.csv',
 'AEM00041217.csv',
 'AEM00041218.csv',
 'AF000040930.csv',
 'AFM00040938.csv',
 'AFM00040948.csv',
 'AFM00040990.csv',
 'AG000060390.csv',
 'AG000060590.csv',
 'AG000060611.csv',
 'AG000060680.csv',
 'AGE00135039.csv',
 'AGE00147704.csv',
 'AGE00147705.csv',
 'AGE00147706.csv',
 'AGE00147707.csv',
 'AGE00147708.csv',
 'AGE00147709.csv',
 'AGE00147710.csv',
 'AGE00147711.csv',
 'AGE00147712.csv',
 'AGE00147713.csv',
 'AGE00147714.csv',
 'AGE00147715.csv',
 'AGE00147716.csv',
 'AGE00147717.csv',
 'AGE00147718.csv',
 'AGE00147719.csv',
 'AGE00147720.csv',
 'AGE00147780.csv',
 'AGE00147794.csv',
 'AGM00060351.csv',
 'AGM00060353.csv',
 'AGM00060355.csv',
 'AGM00060360.csv',
 'AGM00060367.csv',
 'AGM00060369.csv',
 'AGM00060387.csv',
 'AGM00060402.csv',
 'AGM00060403.csv',
 'AGM00060405.csv',
 'AGM00060410.csv',
 'AGM00060415.csv',
 'AGM00060417.csv',
 'AGM00060419.csv',
 'AGM00060421.csv',
 'AGM00060423.csv',
 'AGM00060425.csv',
 'AGM00060430.csv',
 'AGM00060437.csv',
 'AGM00060444.csv',
 'AGM00060445.csv',
 'AGM00060452.csv',
 'AGM00060457.csv',
 'AGM00060461.csv',
 'AGM00060467.csv',
 'AGM00060468.csv',
 'AGM00060471.csv',
 'AGM00060475.csv',
 'AGM00060476.csv',
 'AGM00060490.csv',
 'AGM00060506.csv',
 'AGM00060507.csv',
 'AGM00060511.csv',
 'AGM00060514.csv',
 'AGM00060515.csv',
 'AGM00060518.csv',
 'AGM00060520.csv',
 'AGM00060522.csv',
 'AGM00060531.csv',
 'AGM00060535.csv',
 'AGM00060536.csv',
 'AGM00060540.csv',
 'AGM00060549.csv',
 'AGM00060550.csv',
 'AGM00060555.csv',
 'AGM00060557.csv',
 'AGM00060559.csv',
 'AGM00060560.csv',
 'AGM00060563.csv',
 'AGM00060566.csv',
 'AGM00060571.csv',
 'AGM00060580.csv',
 'AGM00060581.csv',
 'AGM00060602.csv',
 'AGM00060603.csv',
 'AGM00060607.csv',
 'AGM00060620.csv',
 'AGM00060630.csv',
 'AGM00060640.csv',
 'AGM00060656.csv',
 'AGM00060670.csv',
 'AGM00060690.csv',
 'AJ000037575.csv',
 'AJ000037579.csv',
 'AJ000037605.csv',
 'AJ000037636.csv',
 'AJ000037639.csv',
 'AJ000037656.csv',
 'AJ000037661.csv',
 'AJ000037668.csv',
 'AJ000037673.csv',
 'AJ000037674.csv',
 'AJ000037675.csv',
 'AJ000037679.csv',
 'AJ000037729.csv',
 'AJ000037734.csv',
 'AJ000037735.csv',
 'AJ000037740.csv',
 'AJ000037742.csv',
 'AJ000037744.csv',
 'AJ000037747.csv',
 'AJ000037749.csv',
 'AJ000037753.csv',
 'AJ000037756.csv',
 'AJ000037759.csv',
 'AJ000037769.csv',
 'AJ000037813.csv',
 'AJ000037816.csv',
 'AJ000037825.csv',
 'AJ000037831.csv',
 'AJ000037832.csv',
 'AJ000037835.csv',
 'AJ000037844.csv',
 'AJ000037849.csv',
 'AJ000037850.csv',
 'AJ000037860.csv',
 'AJ000037861.csv',
 'AJ000037866.csv',
 'AJ000037869.csv',
 'AJ000037883.csv',
 'AJ000037888.csv',
 'AJ000037893.csv',
 'AJ000037895.csv',
 'AJ000037898.csv',
 'AJ000037899.csv',
 'AJ000037901.csv',
 'AJ000037902.csv',
 'AJ000037905.csv',
 'AJ000037907.csv',
 'AJ000037912.csv',
 'AJ000037913.csv',
 'AJ000037914.csv',
 'AJ000037922.csv',
 'AJ000037923.csv',
 'AJ000037925.csv',
 'AJ000037936.csv',
 'AJ000037941.csv',
 'AJ000037946.csv',
 'AJ000037947.csv',
 'AJ000037957.csv',
 'AJ000037962.csv',
 'AJ000037968.csv',
 'AJ000037972.csv',
 'AJ000037978.csv',
 'AJ000037981.csv',
 'AJ000037984.csv',
 'AJ000037985.csv',
 'AJ000037989.csv',
 'ALE00100939.csv',
 'ALE00108905.csv',
 'ALM00013615.csv',
 'AM000037608.csv',
 'AM000037609.csv',
 'AM000037618.csv',
 'AM000037627.csv',
 'AM000037629.csv',
 'AM000037682.csv',
 'AM000037683.csv',
 'AM000037686.csv',
 'AM000037689.csv',
 'AM000037693.csv',
 'AM000037694.csv',
 'AM000037695.csv',
 'AM000037698.csv',
 'AM000037699.csv',
 'AM000037700.csv',
 'AM000037704.csv',
 'AM000037705.csv',
 'AM000037706.csv',
 'AM000037708.csv',
 'AM000037711.csv',
 'AM000037713.csv',
 'AM000037719.csv',
 'AM000037772.csv',
 'AM000037773.csv',
 'AM000037774.csv',
 'AM000037781.csv',
 'AM000037782.csv',
 'AM000037785.csv',
 'AM000037786.csv',
 'AM000037787.csv',
 'AM000037789.csv',
 'AM000037791.csv',
 'AM000037792.csv',
 'AM000037798.csv',
 'AM000037801.csv',
 'AM000037802.csv',
 'AM000037808.csv',
 'AM000037815.csv',
 'AM000037871.csv',
 'AM000037872.csv',
 'AM000037873.csv',
 'AM000037874.csv',
 'AM000037875.csv',
 'AM000037876.csv',
 'AM000037878.csv',
 'AM000037880.csv',
 'AM000037884.csv',
 'AM000037887.csv',
 'AM000037897.csv',
 'AM000037954.csv',
 'AM000037958.csv',
 'AM000037959.csv',
 'AMM00037717.csv',
 'AO000066160.csv',
 'AO000066270.csv',
 'AO000066390.csv',
 'AO000066410.csv',
 'AO000066422.csv',
 'AO000066447.csv',
 'AQC00914000.csv',
 'AQC00914005.csv',
 'AQC00914021.csv',
 'AQC00914060.csv',
 'AQC00914135.csv',
 'AQC00914138.csv',
 'AQC00914141.csv',
 'AQC00914145.csv',
 'AQC00914149.csv',
 'AQC00914188.csv',
 'AQC00914248.csv',
 'AQC00914397.csv',
 'AQC00914424.csv',
 'AQC00914594.csv',
 'AQC00914650.csv',
 'AQC00914822.csv',
 'AQC00914869.csv',
 'AQC00914873.csv',
 'AQC00914902.csv',
 'AQC00914912.csv',
 'AQW00061705.csv',
 'AR000000001.csv',
 'AR000000002.csv',
 'AR000000003.csv',
 'AR000000004.csv',
 'AR000000005.csv',
 'AR000000006.csv',
 'AR000000007.csv',
 'AR000000008.csv',
 'AR000000009.csv',
 'AR000000010.csv',
 'AR000000011.csv',
 'AR000000012.csv',
 'AR000000013.csv',
 'AR000000014.csv',
 'AR000000015.csv',
 'AR000000016.csv',
 'AR000087007.csv',
 'AR000087065.csv',
 'AR000087078.csv',
 'AR000087129.csv',
 'AR000087155.csv',
 'AR000087217.csv',
 'AR000087257.csv',
 'AR000087270.csv',
 'AR000087344.csv',
 'AR000087374.csv',
 'AR000087418.csv',
 'AR000087534.csv',
 'AR000087623.csv',
 'AR000087692.csv',
 'AR000087715.csv',
 'AR000087803.csv',
 'AR000087828.csv',
 'AR000087860.csv',
 'AR000087925.csv',
 'AR000870470.csv',
 'AR000873050.csv',
 'AR000875440.csv',
 'AR000875850.csv',
 'AR000877500.csv',
 'ARM00087016.csv',
 'ARM00087022.csv',
 'ARM00087046.csv',
 'ARM00087121.csv',
 'ARM00087148.csv',
 'ARM00087162.csv',
 'ARM00087166.csv',
 'ARM00087178.csv',
 'ARM00087213.csv',
 'ARM00087222.csv',
 'ARM00087244.csv',
 'ARM00087289.csv',
 'ARM00087311.csv',
 'ARM00087320.csv',
 'ARM00087322.csv',
 'ARM00087328.csv',
 'ARM00087345.csv',
 'ARM00087349.csv',
 'ARM00087395.csv',
 'ARM00087416.csv',
 'ARM00087420.csv',
 'ARM00087436.csv',
 'ARM00087448.csv',
 'ARM00087453.csv',
 'ARM00087467.csv',
 'ARM00087480.csv',
 'ARM00087497.csv',
 'ARM00087506.csv',
 'ARM00087509.csv',
 'ARM00087532.csv',
 'ARM00087548.csv',
 'ARM00087550.csv',
 'ARM00087563.csv',
 'ARM00087576.csv',
 'ARM00087582.csv',
 'ARM00087593.csv',
 'ARM00087596.csv',
 'ARM00087637.csv',
 'ARM00087640.csv',
 'ARM00087641.csv',
 'ARM00087643.csv',
 'ARM00087645.csv',
 'ARM00087648.csv',
 'ARM00087679.csv',
 'ARM00087688.csv',
 'ARM00087736.csv',
 'ARM00087765.csv',
 'ARM00087774.csv',
 'ARM00087784.csv',
 'ARM00087791.csv',
 'ARM00087800.csv',
 'ARM00087814.csv',
 'ARM00087823.csv',
 'ARM00087852.csv',
 'ARM00087880.csv',
 'ARM00087896.csv',
 'ARM00087903.csv',
 'ARM00087904.csv',
 'ARM00087909.csv',
 'ARM00087934.csv',
 'ARM00087938.csv',
 'ASM00094275.csv',
 'ASM00094299.csv',
 'ASM00094940.csv',
 'ASM00094995.csv',
 'ASM00094998.csv',
 'ASN00001000.csv',
 'ASN00001001.csv',
 'ASN00001003.csv',
 'ASN00001004.csv',
 'ASN00001005.csv',
 'ASN00001006.csv',
 'ASN00001007.csv',
 'ASN00001008.csv',
 'ASN00001009.csv',
 'ASN00001010.csv',
 'ASN00001011.csv',
 'ASN00001012.csv',
 'ASN00001013.csv',
 'ASN00001014.csv',
 'ASN00001016.csv',
 'ASN00001017.csv',
 'ASN00001018.csv',
 'ASN00001019.csv',
 'ASN00001020.csv',
 'ASN00001021.csv',
 'ASN00001022.csv',
 'ASN00001023.csv',
 'ASN00001024.csv',
 'ASN00001025.csv',
 'ASN00001026.csv',
 'ASN00001027.csv',
 'ASN00001028.csv',
 'ASN00001030.csv',
 'ASN00001031.csv',
 'ASN00001032.csv',
 'ASN00001035.csv',
 'ASN00002000.csv',
 'ASN00002001.csv',
 'ASN00002002.csv',
 'ASN00002003.csv',
 'ASN00002004.csv',
 'ASN00002005.csv',
 'ASN00002006.csv',
 'ASN00002007.csv',
 'ASN00002008.csv',
 'ASN00002009.csv',
 'ASN00002010.csv',
 'ASN00002011.csv',
 'ASN00002012.csv',
 'ASN00002013.csv',
 'ASN00002014.csv',
 'ASN00002015.csv',
 'ASN00002016.csv',
 'ASN00002017.csv',
 'ASN00002018.csv',
 'ASN00002019.csv',
 'ASN00002020.csv',
 'ASN00002021.csv',
 'ASN00002022.csv',
 'ASN00002023.csv',
 'ASN00002024.csv',
 'ASN00002025.csv',
 'ASN00002026.csv',
 'ASN00002027.csv',
 'ASN00002028.csv',
 'ASN00002029.csv',
 'ASN00002030.csv',
 'ASN00002031.csv',
 'ASN00002032.csv',
 'ASN00002033.csv',
 'ASN00002034.csv',
 'ASN00002035.csv',
 'ASN00002036.csv',
 'ASN00002037.csv',
 'ASN00002038.csv',
 'ASN00002039.csv',
 'ASN00002040.csv',
 'ASN00002041.csv',
 'ASN00002042.csv',
 'ASN00002043.csv',
 'ASN00002044.csv',
 'ASN00002046.csv',
 'ASN00002047.csv',
 'ASN00002048.csv',
 'ASN00002049.csv',
 'ASN00002050.csv',
 'ASN00002051.csv',
 'ASN00002052.csv',
 'ASN00002053.csv',
 'ASN00002055.csv',
 'ASN00002056.csv',
 'ASN00002057.csv',
 'ASN00002058.csv',
 'ASN00002059.csv',
 'ASN00002060.csv',
 'ASN00002061.csv',
 'ASN00002062.csv',
 'ASN00002063.csv',
 'ASN00002064.csv',
 'ASN00002065.csv',
 'ASN00002066.csv',
 'ASN00002067.csv',
 'ASN00002069.csv',
 'ASN00002070.csv',
 'ASN00002071.csv',
 'ASN00002075.csv',
 'ASN00003000.csv',
 'ASN00003001.csv',
 'ASN00003002.csv',
 'ASN00003003.csv',
 'ASN00003004.csv',
 'ASN00003005.csv',
 'ASN00003006.csv',
 'ASN00003007.csv',
 'ASN00003008.csv',
 'ASN00003009.csv',
 'ASN00003010.csv',
 'ASN00003011.csv',
 'ASN00003012.csv',
 'ASN00003013.csv',
 'ASN00003014.csv',
 'ASN00003015.csv',
 'ASN00003016.csv',
 'ASN00003017.csv',
 'ASN00003018.csv',
 'ASN00003019.csv',
 'ASN00003020.csv',
 'ASN00003021.csv',
 'ASN00003022.csv',
 'ASN00003023.csv',
 'ASN00003024.csv',
 'ASN00003025.csv',
 'ASN00003026.csv',
 'ASN00003027.csv',
 'ASN00003028.csv',
 'ASN00003029.csv',
 'ASN00003030.csv',
 'ASN00003031.csv',
 'ASN00003032.csv',
 'ASN00003033.csv',
 'ASN00003035.csv',
 'ASN00003036.csv',
 'ASN00003037.csv',
 'ASN00003039.csv',
 'ASN00003040.csv',
 'ASN00003041.csv',
 'ASN00003042.csv',
 'ASN00003043.csv',
 'ASN00003044.csv',
 'ASN00003045.csv',
 'ASN00003046.csv',
 'ASN00003047.csv',
 'ASN00003048.csv',
 'ASN00003049.csv',
 'ASN00003050.csv',
 'ASN00003051.csv',
 'ASN00003052.csv',
 'ASN00003053.csv',
 'ASN00003054.csv',
 'ASN00003055.csv',
 'ASN00003056.csv',
 'ASN00003057.csv',
 'ASN00003058.csv',
 'ASN00003059.csv',
 'ASN00003060.csv',
 'ASN00003061.csv',
 'ASN00003062.csv',
 'ASN00003063.csv',
 'ASN00003064.csv',
 'ASN00003065.csv',
 'ASN00003066.csv',
 'ASN00003068.csv',
 'ASN00003069.csv',
 'ASN00003072.csv',
 'ASN00003073.csv',
 'ASN00003074.csv',
 'ASN00003075.csv',
 'ASN00003076.csv',
 'ASN00003077.csv',
 'ASN00003078.csv',
 'ASN00003079.csv',
 'ASN00003080.csv',
 'ASN00003081.csv',
 'ASN00003082.csv',
 'ASN00003083.csv',
 'ASN00003084.csv',
 'ASN00003085.csv',
 'ASN00003086.csv',
 'ASN00003087.csv',
 'ASN00003088.csv',
 'ASN00003089.csv',
 'ASN00003090.csv',
 'ASN00003091.csv',
 'ASN00003092.csv',
 'ASN00003093.csv',
 'ASN00003095.csv',
 'ASN00003096.csv',
 'ASN00003098.csv',
 'ASN00003100.csv',
 'ASN00003103.csv',
 'ASN00003104.csv',
 'ASN00003105.csv',
 'ASN00004000.csv',
 'ASN00004001.csv',
 'ASN00004002.csv',
 'ASN00004003.csv',
 'ASN00004004.csv',
 'ASN00004005.csv',
 'ASN00004006.csv',
 'ASN00004007.csv',
 'ASN00004008.csv',
 'ASN00004009.csv',
 'ASN00004010.csv',
 'ASN00004011.csv',
 'ASN00004012.csv',
 'ASN00004013.csv',
 'ASN00004014.csv',
 'ASN00004015.csv',
 'ASN00004016.csv',
 'ASN00004017.csv',
 'ASN00004018.csv',
 'ASN00004019.csv',
 'ASN00004020.csv',
 'ASN00004021.csv',
 'ASN00004022.csv',
 'ASN00004023.csv',
 'ASN00004024.csv',
 'ASN00004025.csv',
 'ASN00004026.csv',
 'ASN00004027.csv',
 'ASN00004028.csv',
 'ASN00004030.csv',
 'ASN00004031.csv',
 'ASN00004032.csv',
 'ASN00004033.csv',
 'ASN00004034.csv',
 'ASN00004035.csv',
 'ASN00004036.csv',
 'ASN00004037.csv',
 'ASN00004038.csv',
 'ASN00004039.csv',
 'ASN00004040.csv',
 'ASN00004041.csv',
 'ASN00004042.csv',
 'ASN00004043.csv',
 'ASN00004044.csv',
 'ASN00004045.csv',
 'ASN00004046.csv',
 'ASN00004047.csv',
 'ASN00004048.csv',
 'ASN00004049.csv',
 'ASN00004050.csv',
 'ASN00004051.csv',
 'ASN00004052.csv',
 'ASN00004053.csv',
 'ASN00004054.csv',
 'ASN00004055.csv',
 'ASN00004056.csv',
 'ASN00004057.csv',
 'ASN00004058.csv',
 'ASN00004059.csv',
 'ASN00004060.csv',
 'ASN00004061.csv',
 'ASN00004062.csv',
 'ASN00004063.csv',
 'ASN00004064.csv',
 'ASN00004065.csv',
 'ASN00004066.csv',
 'ASN00004067.csv',
 'ASN00004068.csv',
 'ASN00004069.csv',
 'ASN00004070.csv',
 'ASN00004071.csv',
 'ASN00004072.csv',
 'ASN00004074.csv',
 'ASN00004076.csv',
 'ASN00004077.csv',
 'ASN00004079.csv',
 'ASN00004080.csv',
 'ASN00004081.csv',
 'ASN00004082.csv',
 'ASN00004083.csv',
 'ASN00004084.csv',
 'ASN00004085.csv',
 'ASN00004086.csv',
 'ASN00004087.csv',
 'ASN00004088.csv',
 'ASN00004089.csv',
 'ASN00004090.csv',
 'ASN00004092.csv',
 'ASN00004093.csv',
 'ASN00004094.csv',
 'ASN00004096.csv',
 'ASN00004097.csv',
 'ASN00004098.csv',
 'ASN00004099.csv',
 'ASN00004101.csv',
 'ASN00004102.csv',
 'ASN00004103.csv',
 'ASN00004104.csv',
 'ASN00004106.csv',
 'ASN00005000.csv',
 'ASN00005001.csv',
 'ASN00005002.csv',
 'ASN00005003.csv',
 'ASN00005004.csv',
 'ASN00005005.csv',
 'ASN00005006.csv',
 'ASN00005007.csv',
 'ASN00005008.csv',
 'ASN00005009.csv',
 'ASN00005010.csv',
 'ASN00005011.csv',
 'ASN00005012.csv',
 'ASN00005013.csv',
 'ASN00005014.csv',
 'ASN00005015.csv',
 'ASN00005016.csv',
 'ASN00005017.csv',
 'ASN00005018.csv',
 'ASN00005019.csv',
 'ASN00005020.csv',
 'ASN00005021.csv',
 'ASN00005022.csv',
 'ASN00005023.csv',
 'ASN00005024.csv',
 'ASN00005025.csv',
 'ASN00005026.csv',
 'ASN00005027.csv',
 'ASN00005028.csv',
 'ASN00005029.csv',
 'ASN00005030.csv',
 'ASN00005031.csv',
 'ASN00005032.csv',
 'ASN00005033.csv',
 'ASN00005034.csv',
 'ASN00005035.csv',
 'ASN00005036.csv',
 'ASN00005037.csv',
 'ASN00005038.csv',
 'ASN00005039.csv',
 'ASN00005040.csv',
 'ASN00005041.csv',
 'ASN00005042.csv',
 'ASN00005043.csv',
 'ASN00005044.csv',
 'ASN00005045.csv',
 'ASN00005046.csv',
 'ASN00005047.csv',
 'ASN00005048.csv',
 'ASN00005049.csv',
 'ASN00005050.csv',
 'ASN00005051.csv',
 'ASN00005052.csv',
 'ASN00005053.csv',
 'ASN00005055.csv',
 'ASN00005057.csv',
 'ASN00005058.csv',
 'ASN00005059.csv',
 'ASN00005060.csv',
 'ASN00005061.csv',
 'ASN00005063.csv',
 'ASN00005064.csv',
 'ASN00005066.csv',
 'ASN00005067.csv',
 'ASN00005068.csv',
 'ASN00005069.csv',
 'ASN00005070.csv',
 'ASN00005071.csv',
 'ASN00005072.csv',
 'ASN00005073.csv',
 'ASN00005074.csv',
 'ASN00005075.csv',
 'ASN00005076.csv',
 'ASN00005078.csv',
 'ASN00005079.csv',
 'ASN00005082.csv',
 'ASN00005083.csv',
 'ASN00005084.csv',
 'ASN00005085.csv',
 'ASN00005086.csv',
 'ASN00005087.csv',
 'ASN00005088.csv',
 'ASN00005089.csv',
 'ASN00005090.csv',
 'ASN00005092.csv',
 'ASN00005093.csv',
 'ASN00005094.csv',
 'ASN00005095.csv',
 'ASN00006000.csv',
 'ASN00006001.csv',
 'ASN00006002.csv',
 'ASN00006003.csv',
 'ASN00006004.csv',
 'ASN00006005.csv',
 'ASN00006006.csv',
 'ASN00006007.csv',
 'ASN00006008.csv',
 'ASN00006009.csv',
 'ASN00006010.csv',
 'ASN00006011.csv',
 'ASN00006012.csv',
 'ASN00006013.csv',
 'ASN00006014.csv',
 'ASN00006015.csv',
 'ASN00006016.csv',
 'ASN00006017.csv',
 'ASN00006018.csv',
 'ASN00006019.csv',
 'ASN00006020.csv',
 'ASN00006021.csv',
 'ASN00006022.csv',
 'ASN00006023.csv',
 'ASN00006024.csv',
 'ASN00006025.csv',
 'ASN00006026.csv',
 'ASN00006027.csv',
 'ASN00006028.csv',
 'ASN00006029.csv',
 'ASN00006030.csv',
 'ASN00006031.csv',
 'ASN00006032.csv',
 'ASN00006033.csv',
 'ASN00006034.csv',
 'ASN00006035.csv',
 'ASN00006036.csv',
 'ASN00006037.csv',
 'ASN00006038.csv',
 'ASN00006039.csv',
 'ASN00006040.csv',
 'ASN00006041.csv',
 'ASN00006042.csv',
 'ASN00006043.csv',
 'ASN00006044.csv',
 'ASN00006045.csv',
 'ASN00006046.csv',
 'ASN00006047.csv',
 'ASN00006048.csv',
 'ASN00006049.csv',
 'ASN00006050.csv',
 'ASN00006051.csv',
 'ASN00006052.csv',
 'ASN00006053.csv',
 'ASN00006054.csv',
 'ASN00006055.csv',
 'ASN00006056.csv',
 'ASN00006057.csv',
 'ASN00006058.csv',
 'ASN00006059.csv',
 'ASN00006060.csv',
 'ASN00006061.csv',
 'ASN00006062.csv',
 'ASN00006063.csv',
 'ASN00006064.csv',
 'ASN00006065.csv',
 'ASN00006066.csv',
 'ASN00006067.csv',
 'ASN00006068.csv',
 'ASN00006069.csv',
 'ASN00006070.csv',
 'ASN00006071.csv',
 'ASN00006072.csv',
 'ASN00006073.csv',
 'ASN00006074.csv',
 'ASN00006075.csv',
 'ASN00006076.csv',
 'ASN00006077.csv',
 'ASN00006078.csv',
 'ASN00006079.csv',
 'ASN00006080.csv',
 'ASN00006081.csv',
 'ASN00006082.csv',
 'ASN00006083.csv',
 'ASN00006084.csv',
 'ASN00006085.csv',
 'ASN00006087.csv',
 'ASN00006088.csv',
 'ASN00006089.csv',
 'ASN00006090.csv',
 'ASN00006091.csv',
 'ASN00006092.csv',
 'ASN00006093.csv',
 'ASN00006094.csv',
 'ASN00006095.csv',
 'ASN00006096.csv',
 'ASN00006097.csv',
 'ASN00006098.csv',
 'ASN00006099.csv',
 'ASN00006100.csv',
 'ASN00006101.csv',
 'ASN00006102.csv',
 'ASN00006103.csv',
 'ASN00006105.csv',
 'ASN00006106.csv',
 'ASN00006107.csv',
 'ASN00007000.csv',
 'ASN00007001.csv',
 'ASN00007002.csv',
 'ASN00007003.csv',
 'ASN00007004.csv',
 'ASN00007005.csv',
 'ASN00007006.csv',
 'ASN00007007.csv',
 'ASN00007008.csv',
 'ASN00007009.csv',
 'ASN00007010.csv',
 'ASN00007011.csv',
 'ASN00007012.csv',
 'ASN00007013.csv',
 'ASN00007014.csv',
 'ASN00007015.csv',
 'ASN00007016.csv',
 'ASN00007017.csv',
 'ASN00007018.csv',
 'ASN00007019.csv',
 'ASN00007020.csv',
 'ASN00007021.csv',
 'ASN00007022.csv',
 'ASN00007023.csv',
 'ASN00007024.csv',
 'ASN00007025.csv',
 'ASN00007026.csv',
 'ASN00007027.csv',
 'ASN00007028.csv',
 'ASN00007029.csv',
 'ASN00007030.csv',
 'ASN00007031.csv',
 'ASN00007032.csv',
 'ASN00007033.csv',
 'ASN00007034.csv',
 'ASN00007035.csv',
 'ASN00007036.csv',
 'ASN00007037.csv',
 'ASN00007038.csv',
 'ASN00007039.csv',
 'ASN00007040.csv',
 'ASN00007041.csv',
 'ASN00007042.csv',
 'ASN00007043.csv',
 'ASN00007044.csv',
 'ASN00007045.csv',
 'ASN00007046.csv',
 'ASN00007047.csv',
 'ASN00007048.csv',
 'ASN00007049.csv',
 'ASN00007050.csv',
 'ASN00007051.csv',
 'ASN00007052.csv',
 'ASN00007053.csv',
 'ASN00007054.csv',
 'ASN00007055.csv',
 'ASN00007056.csv',
 'ASN00007057.csv',
 'ASN00007058.csv',
 'ASN00007059.csv',
 'ASN00007060.csv',
 'ASN00007061.csv',
 'ASN00007062.csv',
 'ASN00007063.csv',
 'ASN00007064.csv',
 'ASN00007065.csv',
 'ASN00007066.csv',
 'ASN00007067.csv',
 'ASN00007068.csv',
 'ASN00007069.csv',
 'ASN00007070.csv',
 'ASN00007071.csv',
 'ASN00007072.csv',
 'ASN00007073.csv',
 'ASN00007074.csv',
 'ASN00007075.csv',
 'ASN00007076.csv',
 'ASN00007077.csv',
 'ASN00007078.csv',
 'ASN00007079.csv',
 'ASN00007080.csv',
 'ASN00007081.csv',
 'ASN00007082.csv',
 'ASN00007083.csv',
 'ASN00007084.csv',
 'ASN00007085.csv',
 'ASN00007086.csv',
 'ASN00007087.csv',
 'ASN00007088.csv',
 'ASN00007089.csv',
 'ASN00007090.csv',
 'ASN00007091.csv',
 'ASN00007092.csv',
 'ASN00007093.csv',
 'ASN00007094.csv',
 'ASN00007095.csv',
 'ASN00007096.csv',
 'ASN00007097.csv',
 'ASN00007098.csv',
 'ASN00007099.csv',
 'ASN00007100.csv',
 'ASN00007101.csv',
 'ASN00007102.csv',
 'ASN00007103.csv',
 'ASN00007104.csv',
 'ASN00007105.csv',
 'ASN00007106.csv',
 'ASN00007107.csv',
 'ASN00007108.csv',
 'ASN00007110.csv',
 'ASN00007111.csv',
 'ASN00007112.csv',
 'ASN00007113.csv',
 'ASN00007114.csv',
 'ASN00007115.csv',
 'ASN00007116.csv',
 'ASN00007117.csv',
 'ASN00007118.csv',
 'ASN00007119.csv',
 'ASN00007120.csv',
 'ASN00007121.csv',
 'ASN00007122.csv',
 'ASN00007123.csv',
 'ASN00007124.csv',
 'ASN00007125.csv',
 'ASN00007126.csv',
 'ASN00007127.csv',
 'ASN00007128.csv',
 'ASN00007129.csv',
 'ASN00007130.csv',
 'ASN00007131.csv',
 'ASN00007132.csv',
 'ASN00007133.csv',
 'ASN00007134.csv',
 'ASN00007135.csv',
 'ASN00007136.csv',
 'ASN00007137.csv',
 'ASN00007139.csv',
 'ASN00007140.csv',
 'ASN00007141.csv',
 'ASN00007142.csv',
 'ASN00007143.csv',
 'ASN00007144.csv',
 'ASN00007145.csv',
 'ASN00007146.csv',
 'ASN00007147.csv',
 'ASN00007148.csv',
 'ASN00007149.csv',
 'ASN00007150.csv',
 'ASN00007151.csv',
 'ASN00007152.csv',
 'ASN00007153.csv',
 'ASN00007154.csv',
 'ASN00007155.csv',
 'ASN00007156.csv',
 'ASN00007157.csv',
 'ASN00007158.csv',
 'ASN00007159.csv',
 'ASN00007160.csv',

In [20]:
dfLocation = dfFinalFileList.copy()
dfLocation

,RealFileNM,FILE,SIZE,ID,FIPS ID,COUNTRY NAME,FILENM
0,ACW00011604.csv,gsom_ACW00011604.csv,4036.0,AC,AC,ANTIGUA AND BARBUDA,ACW00011604.csv
1,ACW00011647.csv,gsom_ACW00011647.csv,34313.0,AC,AC,ANTIGUA AND BARBUDA,ACW00011647.csv
2,AE000041196.csv,gsom_AE000041196.csv,130742.0,AE,NaN,NaN,AE000041196.csv
3,AEM00041194.csv,gsom_AEM00041194.csv,100242.0,AE,NaN,NaN,AEM00041194.csv
4,AEM00041217.csv,gsom_AEM00041217.csv,85259.0,AE,NaN,NaN,AEM00041217.csv
...,...,...,...,...,...,...,...
122036,ZI000067969.csv,gsom_ZI000067969.csv,116596.0,ZI,ZI,ZIMBABWE,ZI000067969.csv
122037,ZI000067975.csv,gsom_ZI000067975.csv,200883.0,ZI,ZI,ZIMBABWE,ZI000067975.csv
122038,ZI000067977.csv,gsom_ZI000067977.csv,84153.0,ZI,ZI,ZIMBABWE,ZI000067977.csv
122039,ZI000067983.csv,gsom_ZI000067983.csv,193672.0,ZI,ZI,ZIMBABWE,ZI000067983.csv
122040,ZI000067991.csv,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
dfLocation.drop(['FILE', 'SIZE', 'FIPS ID', 'FILENM'], axis = 1, inplace = True)
dfLocation['Name'] = dfLocation['RealFileNM'].str[:-4]
dfLocation

             RealFileNM   ID           COUNTRY NAME         Name
0       ACW00011604.csv   AC    ANTIGUA AND BARBUDA  ACW00011604
1       ACW00011647.csv   AC    ANTIGUA AND BARBUDA  ACW00011647
2       AE000041196.csv   AE                    NaN  AE000041196
3       AEM00041194.csv   AE                    NaN  AEM00041194
4       AEM00041217.csv   AE                    NaN  AEM00041217
...                 ...  ...                    ...          ...
122036  ZI000067969.csv   ZI               ZIMBABWE  ZI000067969
122037  ZI000067975.csv   ZI               ZIMBABWE  ZI000067975
122038  ZI000067977.csv   ZI               ZIMBABWE  ZI000067977
122039  ZI000067983.csv   ZI               ZIMBABWE  ZI000067983
122040  ZI000067991.csv  NaN                    NaN  ZI000067991

[122041 rows x 4 columns]

In [62]:
dfLocation.to_csv('data_climate/FiletoCountry.csv', index = False)

In [35]:
def location_collect(num1 = None, num2 = None):
    path = 'data_climate/gsom-latest/'
    flag = False

    for file in file_list_csv[num1: num2]:

        # 활용할 csv
        dfTMP = pd.read_csv(path + file)
#         print('1')
        # csv 처음 불러왔을 때
        if flag == False:
            print('0')
            # 결과 df 변수에 현재의 첫 번째 행을 넣는다.
            df = dfTMP.loc[0:0, :]
            # flag를 변경하여 이 if문에 다시 들어오지 않는다.
            flag = True
            # 확인용 출력
#             print('길이: ', len(df))
        # csv 처음 불러온 것이 아닐 때
        else:
#             print('2')
            # 결과 df와 지금 df의 첫 번째 행을 이어붙인다.
            df = pd.concat([df, dfTMP.loc[0:0, :]], axis = 0)
#             print('길이: ', len(df))
#             print('3')
    df.reset_index(inplace = True, drop = True)
    print(len(df))
    return df

In [23]:
dfSample = location_collect(0, 1000)
dfSample

0

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,CDSD,CDSD_ATTRIBUTES,CLDD,CLDD_ATTRIBUTES,...,WSF1,WSF1_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES
0,ACW00011604,1949-01,17.11667,-61.78333,10.1,"ST JOHNS COOLIDGE FIELD, AC",182.6,NaN,182.6,",X",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACW00011647,1957-09,17.13333,-61.78333,19.2,"ST JOHNS, AC",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AE000041196,1944-04,25.33300,55.51700,34.0,"SHARJAH INTER. AIRP, AE",NaN,NaN,184.1,"4,I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AEM00041194,1983-01,25.25500,55.36400,10.4,"DUBAI INTERNATIONAL, AE",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AEM00041217,1983-06,24.43300,54.65100,26.8,"ABU DHABI INTERNATIONAL, AE",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ASN00007156,1910-05,-27.95780,116.33830,400.0,"TARDIE STATION, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,ASN00007157,1913-01,-27.77440,117.01560,450.0,"DALGARANGA, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,ASN00007158,1968-09,-27.61670,118.93330,NaN,"INGLEWOOD, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,ASN00007159,1750-03,-27.54860,118.21720,450.0,"YARRAQUIN, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,ASN00007160,1968-01,-26.26280,119.76390,500.0,"PAROO, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
dfSample.to_csv('data_climate/dfLocation_sample.csv', index = False)

In [25]:
tmp = pd.read_csv('data_climate/dfLocation_sample.csv')
tmp

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,CDSD,CDSD_ATTRIBUTES,CLDD,CLDD_ATTRIBUTES,...,WSF1,WSF1_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES
0,ACW00011604,1949-01,17.11667,-61.78333,10.1,"ST JOHNS COOLIDGE FIELD, AC",182.6,NaN,182.6,",X",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACW00011647,1957-09,17.13333,-61.78333,19.2,"ST JOHNS, AC",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AE000041196,1944-04,25.33300,55.51700,34.0,"SHARJAH INTER. AIRP, AE",NaN,NaN,184.1,"4,I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AEM00041194,1983-01,25.25500,55.36400,10.4,"DUBAI INTERNATIONAL, AE",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AEM00041217,1983-06,24.43300,54.65100,26.8,"ABU DHABI INTERNATIONAL, AE",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ASN00007156,1910-05,-27.95780,116.33830,400.0,"TARDIE STATION, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,ASN00007157,1913-01,-27.77440,117.01560,450.0,"DALGARANGA, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,ASN00007158,1968-09,-27.61670,118.93330,NaN,"INGLEWOOD, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,ASN00007159,1750-03,-27.54860,118.21720,450.0,"YARRAQUIN, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,ASN00007160,1968-01,-26.26280,119.76390,500.0,"PAROO, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df1 = location_collect(0, 10000)

0
10000

In [37]:
df1

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,CDSD,CDSD_ATTRIBUTES,CLDD,CLDD_ATTRIBUTES,...,WSF1,WSF1_ATTRIBUTES,WSF2,WSF2_ATTRIBUTES,WSF5,WSF5_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES
0,ACW00011604,1949-01,17.11667,-61.78333,10.1,"ST JOHNS COOLIDGE FIELD, AC",182.6,NaN,182.6,",X",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACW00011647,1957-09,17.13333,-61.78333,19.2,"ST JOHNS, AC",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AE000041196,1944-04,25.33300,55.51700,34.0,"SHARJAH INTER. AIRP, AE",NaN,NaN,184.1,"4,I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AEM00041194,1983-01,25.25500,55.36400,10.4,"DUBAI INTERNATIONAL, AE",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AEM00041217,1983-06,24.43300,54.65100,26.8,"ABU DHABI INTERNATIONAL, AE",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ASN00051026,1905-09,-31.56290,146.71810,215.0,"HERMIDALE TANK, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,ASN00051027,1928-02,-31.10000,147.30000,NaN,"ILLABUNDA, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,ASN00051028,1899-08,-31.51670,147.38330,177.0,"NYNGAN KALUGA, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,ASN00051029,1885-07,-31.43330,147.43330,174.0,"NYNGAN MERRYANBONE, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,ASN00051030,1892-01,-31.60330,146.94370,190.0,"MIANDETTA TYRONE, AS",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df1.to_csv('data_climate/dfLocation_1.csv')

In [26]:
df2 = location_collect(10000, 20000)

0

In [27]:
df2

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,TSUN,TSUN_ATTRIBUTES,WDFM,WDFM_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES,WDF1,WDF1_ATTRIBUTES,WSF1,WSF1_ATTRIBUTES
0,ASN00051031,1889-03,-31.6395,147.3160,179.0,"NYNGAN CANONBAR, AS",5.0,",a",5.0,",a",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ASN00051032,1886-01,-31.2000,148.7000,298.7,"MOUNT TENANDRA, AS",5.0,",a",2.0,",a",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ASN00051033,1750-03,-31.8576,147.1343,182.0,"NYNGAN MUDALL, AS",4.0,"2,a",3.0,"2,a",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ASN00051034,1750-03,-31.4986,147.6865,192.0,"WARREN MUMBLEBONE, AS",3.0,"2,a",3.0,"2,a",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ASN00051035,1896-01,-32.1500,148.1000,NaN,"MUNGERIBAR, AS",0.0,",a",0.0,",a",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,BR002749033,1976-05,-27.3900,-49.3700,550.0,"VIDAL RAMOS, BR",11.0,",I",10.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,BR002749034,1976-05,-27.5100,-49.2900,700.0,"LEOBERTO LEAL, BR",15.0,",I",9.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,BR002749035,1976-09,-27.7400,-49.9400,900.0,"BOCAINA DO SUL, BR",7.0,",I",4.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,BR002749037,1976-06,-27.6800,-49.3700,454.0,"SALTINHO, BR",8.0,",I",2.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,BR002749038,1978-02,-27.1800,-49.0700,75.0,"BOTUVERA, BR",13.0,",I",10.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df2.to_csv('data_climate/dfLocation_2.csv')

In [29]:
df3 = location_collect(20000, 30000)

0

In [30]:
df3

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,DYSD,DYSD_ATTRIBUTES,EMSD,EMSD_ATTRIBUTES,WDFG,WDFG_ATTRIBUTES,WSFG,WSFG_ATTRIBUTES,DYTS,DYTS_ATTRIBUTES
0,BR002749039,1979-01,-27.2100,-49.6300,350.0,"RIO DO SUL NOVO PCD, BR",9.0,",I",2.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BR002749041,1983-01,-27.4100,-49.8300,850.0,"AGROLANDIA, BR",7.0,",I",4.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BR002749045,1986-09,-27.2000,-49.0900,0.0,"BOTUVERA MONTANTE, BR",7.0,",I",7.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BR002749046,1988-02,-27.3300,-49.3300,0.0,"SALSEIRO PCD, BR",12.0,",I",7.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BR002750001,1969-11,-27.9000,-50.7500,980.0,"CAMPO BELO DO SUL, BR",9.0,",I",8.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,CA007024400,1906-05,45.4167,-73.9333,27.0,"MACDONALD COLLEGE, QC CA",11.0,",C",7.0,",C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,CA007024440,1948-07,45.2667,-72.1167,274.0,"MAGOG, QC CA",6.0,"5,C",5.0,"5,C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,CA007024615,1978-10,46.3333,-71.9833,96.0,"MANSEAU, QC CA",15.0,",C",9.0,",C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,CA007024623,1965-06,45.3333,-71.5000,366.0,"MAPLE LEAF, QC CA",9.0,",C",7.0,",C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,CA007024624,1965-06,45.3333,-71.4000,445.0,"MAPLE LEAF EAST, QC CA",11.0,",C",8.0,",C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df3.to_csv('data_climate/dfLocation_3.csv')

In [32]:
df4 = location_collect(30000, 40000)

0

In [33]:
df4

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,RHMX,RHMX_ATTRIBUTES,TSUN,TSUN_ATTRIBUTES,WDFM,WDFM_ATTRIBUTES,WDMV,WDMV_ATTRIBUTES,WSFM,WSFM_ATTRIBUTES
0,CA007024625,1973-01,45.3167,-71.4667,445.0,"MAPLE LEAF SOUTH, QC CA",16.0,",C",8.0,",C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CA007024627,1960-06,45.4000,-73.1333,38.0,"MARIEVILLE, QC CA",10.0,",C",8.0,",C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CA007024628,1965-04,45.3000,-71.7333,259.0,"MARTINVILLE, QC CA",8.0,",C",6.0,",C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CA007024745,1994-08,45.5000,-73.5833,73.0,"MCTAVISH, QC CA",9.0,"5,C",5.0,"5,C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CA007024800,1939-11,45.5833,-70.8667,415.0,"MEGANTIC A, QC CA",9.0,",C",1.0,",C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,JA000047424,1951-01,42.6170,141.5500,11.0,"TOMAKOMAI, JA",12.0,",I",5.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,JA000047426,1951-01,42.1670,142.7830,37.0,"URAKAWA, JA",11.0,",I",2.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,JA000047428,1951-01,41.8670,140.1170,12.0,"ESASHI, JA",27.0,",I",6.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,JA000047430,1951-01,41.8170,140.7500,43.0,"HAKODATE, JA",17.0,",I",3.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,JA000047433,1951-01,42.9000,140.7500,188.0,"KUTCHAN, JA",29.0,",I",24.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df4.to_csv('data_climate/dfLocation_4.csv')

In [39]:
df5 = location_collect(40000, 50000)

0
10000

In [40]:
df5

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,CDSD,CDSD_ATTRIBUTES,CLDD,CLDD_ATTRIBUTES,...,ASTP,ASTP_ATTRIBUTES,AWBT,AWBT_ATTRIBUTES,RHAV,RHAV_ATTRIBUTES,RHMN,RHMN_ATTRIBUTES,RHMX,RHMX_ATTRIBUTES
0,JA000047435,1956-01,44.350,143.350,16.0,"MOMBETSU, JA",0.0,I,0.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JA000047440,1958-01,42.300,143.317,33.0,"HIROO, JA",0.0,I,0.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JA000047512,1964-01,39.067,141.717,41.0,"OFUNATO, JA",0.0,I,0.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,JA000047520,1958-01,38.750,140.317,102.0,"SHINJO, JA",0.0,I,0.0,"2,I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,JA000047570,1954-01,37.483,139.917,213.0,"WAKAMATSU, JA",0.0,I,0.0,",I",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,SF007227210,1913-04,-23.020,29.920,1030.0,"GROBLERSPLAAS, SF",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,SF007227490,1924-05,-23.470,29.880,1128.0,"MAASBULT, SF",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,SF007230700,1903-10,-23.170,30.070,875.0,"ELIM HOSP, SF",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,SF007231550,1923-02,-23.070,30.130,853.0,"GOEDEHOOP BOS, SF",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,SF007232310,1922-11,-23.350,30.150,710.0,"BONTFONTEIN, SF",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df5.to_csv('data_climate/dfLocation_5.csv')

In [42]:
df6 = location_collect(60000, 70000)

0
10000

In [43]:
df6

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,HDSD,HDSD_ATTRIBUTES,HTDD,HTDD_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,US1COLR1205,2019-07,40.390383,-105.491471,2372.0,"ESTES PARK 2.0 NE, CO US",16.0,"1,N",5.0,"1,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1COLR1212,2020-03,40.534990,-105.089750,1548.1,"FORT COLLINS 1.8 SW, CO US",7.0,"3,N",3.0,"3,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1COLR1213,2020-08,40.507750,-104.965240,1475.8,"TIMNATH 1.8 SSE, CO US",5.0,"4,N",1.0,"4,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1COLR1216,2022-10,40.810340,-105.215840,1826.4,"LIVERMORE 4.2 N, CO US",4.0,",N",2.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1COLR1217,2020-04,40.635710,-105.159860,1559.4,"LAPORTE 1.9 NW, CO US",9.0,",N",3.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,US1MANF0036,2018-05,42.244574,-70.956462,10.7,"WEYMOUTH 2.8 NW, MA US",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,US1MANF0039,2018-10,42.243336,-70.954796,15.8,"WEYMOUTH 2.3 N, MA US",17.0,",N",9.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,US1MANF0047,2019-05,42.208230,-71.235180,57.3,"WESTWOOD 1.1 WSW, MA US",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,US1MANF0049,2019-06,42.234965,-71.147056,28.0,"DEDHAM 1.8 ESE, MA US",18.0,"1,N",9.0,"1,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,US1MANF0050,2019-05,42.179660,-71.333000,44.8,"MILLIS 1.4 ENE, MA US",20.0,",N",9.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df6.to_csv('data_climate/dfLocation_6.csv')

In [45]:
df7 = location_collect(70000, 80000)

0
10000

In [46]:
df7

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,HDSD,HDSD_ATTRIBUTES,HTDD,HTDD_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,US1MANF0054,2019-11,42.259033,-71.030317,30.5,"QUINCY 1.2 W, MA US",12.0,"4,N",10.0,"4,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1MANF0058,2020-04,42.008300,-71.338500,63.7,"PLAINVILLE 0.6 NNW, MA US",15.0,",N",11.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1MANF0062,2020-09,42.074391,-71.408504,92.7,"FRANKLIN 1.4 SW, MA US",6.0,",N",3.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1MANF0063,2021-01,42.117610,-71.337902,61.6,"NORFOLK 1.1 W, MA US",9.0,",N",5.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1MANF0064,2021-03,42.138006,-71.440061,60.4,"MEDWAY 2.1 W, MA US",5.0,"1,N",3.0,"1,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,US1NYON0017,2019-12,42.822000,-77.288400,256.6,"CANANDAIGUA 4.6 S, NY US",14.0,",N",8.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,US1NYON0018,2019-11,42.840972,-77.225832,281.0,"CANANDAIGUA 4.3 SE, NY US",9.0,"1,N",6.0,"1,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,US1NYON0019,2020-09,42.627900,-77.428600,422.5,"NAPLES 1.6 WNW, NY US",8.0,",N",4.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,US1NYON0022,2022-05,42.851220,-76.998700,183.5,"GENEVA 1.2 SW, NY US",12.0,",N",5.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,US1NYOR0003,2008-01,41.473000,-74.551300,320.3,"OTISVILLE 0.6 WNW, NY US",10.0,",N",7.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df7.to_csv('data_climate/dfLocation_7.csv')

In [48]:
df8 = location_collect(80000, 90000)

0
10000

In [49]:
df8

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,DSND,DSND_ATTRIBUTES,DYSD,DYSD_ATTRIBUTES,EMSD,EMSD_ATTRIBUTES,DYFG,DYFG_ATTRIBUTES,DYTS,DYTS_ATTRIBUTES
0,US1NYOR0004,2013-09,41.268357,-74.415952,189.3,"WARWICK 3.2 WNW, NY US",5.0,",N",5.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1NYOR0006,2009-10,41.301445,-74.166969,253.0,"MONROE 1.7 SE, NY US",13.0,",N",8.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1NYOR0015,2014-10,41.374007,-74.684483,142.3,"PORT JERVIS 0.4 SE, NY US",15.0,",N",7.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1NYOR0017,2017-07,41.587962,-74.357663,126.8,"PINE BUSH 3.4 WSW, NY US",13.0,"1,N",10.0,"1,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1NYOR0018,2017-09,41.542690,-74.188349,137.8,"WALDEN 1.2 S, NY US",8.0,",N",4.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,US1TXVC0004,2007-10,28.822000,-96.961000,29.0,"VICTORIA 1.3 E, TX US",7.0,",N",5.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,US1TXVC0007,2008-04,28.795720,-96.984380,34.1,"VICTORIA 2.0 S, TX US",7.0,"3,N",6.0,"3,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,US1TXVC0009,2008-11,28.804625,-96.826581,21.9,"INEZ 5.3 SSW, TX US",5.0,"3,N",2.0,"3,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,US1TXVC0011,2009-06,28.843042,-96.799064,15.8,"INEZ 2.2 S, TX US",1.0,"4,N",1.0,"4,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,US1TXVC0014,2009-10,28.877091,-96.842490,22.9,"INEZ 2.9 W, TX US",11.0,",N",11.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df8.to_csv('data_climate/dfLocation_8.csv')

In [51]:
df9 = location_collect(90000, 100000)

0
10000

In [52]:
df9

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,LX08,LX08_ATTRIBUTES,MN07,MN07_ATTRIBUTES,MN08,MN08_ATTRIBUTES,MX07,MX07_ATTRIBUTES,MX08,MX08_ATTRIBUTES
0,US1TXVC0015,2010-03,28.844667,-97.163211,56.7,"VICTORIA 11.0 W, TX US",6.0,",N",5.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US1TXVC0017,2010-04,28.853700,-96.990300,33.2,"VICTORIA 2.1 NNW, TX US",6.0,",N",2.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US1TXVC0020,2010-07,28.778986,-96.831036,18.3,"VICTORIA 9.7 ESE, TX US",17.0,"3,N",12.0,"3,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US1TXVC0021,2010-07,28.659784,-97.118868,32.3,"VICTORIA 14.0 SW, TX US",16.0,",N",12.0,",N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US1TXVC0022,2011-02,28.842100,-97.182317,49.4,"VICTORIA 12.1 W, TX US",6.0,"1,N",1.0,"1,N",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,USC00143984,1904-09,37.923300,-95.424100,290.8,"IOLA 1 W, KS US",5.0,",6",4.0,",6",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,USC00143989,1905-09,37.916670,-95.400000,292.9,"IOLA, KS US",13.0,",0",9.0,",0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,USC00143997,1894-01,39.661100,-98.348300,468.5,"IONIA, KS US",2.0,",6",1.0,",6",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,USC00144008,1910-03,37.833333,-101.933333,NaN,"IRENE, KS US",1.0,",6",0.0,",6",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,USC00144020,1940-07,37.566667,-98.516667,563.3,"ISABEL NEAR, KS US",3.0,",6",3.0,",6",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df9.to_csv('data_climate/dfLocation_9.csv')

In [54]:
df10 = location_collect(100000, 110000)

0
10000

In [55]:
df10

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,DP01,DP01_ATTRIBUTES,DP10,DP10_ATTRIBUTES,...,RHMN,RHMN_ATTRIBUTES,RHMX,RHMX_ATTRIBUTES,TSUN,TSUN_ATTRIBUTES,WDF1,WDF1_ATTRIBUTES,WSF1,WSF1_ATTRIBUTES
0,USC00144025,1988-03,39.614700,-97.856300,418.8,"JAMESTOWN, KS US",3.0,",6",2.0,",6",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00144041,1894-03,39.600000,-102.033333,NaN,"JAQUA, KS US",5.0,",6",2.0,",6",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00144073,1940-07,38.720280,-100.526390,781.8,"JEROME, KS US",6.0,",6",5.0,",6",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00144081,1900-12,38.083330,-99.900000,701.6,"JETMORE, KS US",2.0,",6",0.0,",6",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00144085,1949-05,38.216670,-100.066670,716.9,"JETMORE 14 NW, KS US",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,USC00365611,1952-10,41.716670,-80.233330,345.0,"MEADVILLE 7 NW, PA US",8.0,",0",7.0,",0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,USC00365623,1915-01,39.933333,-75.366667,64.0,"MEDIA, PA US",14.0,",6",9.0,",6",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,USC00365627,1948-05,41.283330,-78.400000,335.9,"MEDIX RUN, PA US",16.0,",0",13.0,",0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,USC00365650,1949-01,41.200000,-80.350000,390.1,"MERCER 6 W, PA US",13.0,",0",11.0,",0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,USC00365651,1950-03,41.224600,-80.234900,371.9,"MERCER, PA US",11.0,",0",10.0,",0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df10.to_csv('data_climate/dfLocation_10.csv')

In [57]:
df11 = location_collect(num1 = 110000)

0
12041

In [58]:
df11

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,CDSD,CDSD_ATTRIBUTES,CLDD,CLDD_ATTRIBUTES,...,RHAV,RHAV_ATTRIBUTES,RHMN,RHMN_ATTRIBUTES,RHMX,RHMX_ATTRIBUTES,WDF1,WDF1_ATTRIBUTES,WSF1,WSF1_ATTRIBUTES
0,USC00365652,1950-10,41.28333,-80.28333,402.9,"MERCER 4 NW, PA US",NaN,NaN,0.0,",0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00365654,1948-05,41.23333,-80.25000,381.0,"MERCER HIGHWAY SHED, PA US",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00365662,1929-07,39.83333,-77.90000,164.9,"MERCERSBURG 1 E, PA US",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00365676,1925-07,40.96667,-75.46667,300.2,"MERWINSBURG, PA US",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00365684,1939-04,39.81667,-79.01667,641.0,"MEYERSDALE, PA US",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12036,ZI000067969,1962-07,-21.05000,29.36700,861.0,"WEST NICHOLSON, ZI",1.6,Q,1.6,",Q",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12037,ZI000067975,1951-07,-20.06700,30.86700,1095.0,"MASVINGO, ZI",0.0,Q,0.0,",Q",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12038,ZI000067977,1968-06,-21.01700,31.58300,430.0,"BUFFALO RANGE, ZI",NaN,NaN,2.4,",Q",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12039,ZI000067983,1951-07,-20.20000,32.61600,1132.0,"CHIPINGE, ZI",1.0,Q,1.0,",Q",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12040,ZI000067991,1951-07,-22.21700,30.00000,457.0,"BEITBRIDGE, ZI",0.0,Q,0.0,",Q",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df11.to_csv('data_climate/dfLocation_11.csv')