***데이터 출처***

- https://www.fao.org/soils-portal/data-hub/soil-maps-and-databases/harmonized-world-soil-database-v20/en/

- 어떻게 merge 시킨 데이터를 사용할 것인지?
    1. merge_data : 한 지점의 7개의 층 별로 데이터가 있는 테이블
    2. merge_data_2 : 한 지점의 1개의 층 데이터만 있는 테이블
- 컬럼은 어떤것?
- 나라 이름은 어떻게 확인?

### 컬럼 정보

- ID : 데이터 베이스 id
- HWSD2_SMU_ID ,HWSD1_SMU_ID ,WISE30s_SMU_ID: Soil Mapping Unit 번호
- COVERAGE : Data source: ESDB, SOTWIS, DSMW, China, Afghanistan, Ghana, Türkiye.
- SHARE(Share of the soil unit) : share of the soil unit within the mapping unit in percentage.
-  WRB4 : the name of the Soil Reference Group plus the most important
primary qualifier(4글자)
- WRB_PHASES :  the full symbol of the WRB soil name taking
into account phases and referring to the Soil Reference Group plus all primary qualifier
- WRB2 : the name of the Soil Reference Group plus the most important
primary qualifier(2글자)
- WRB2_CODE : the name of the Soil Reference Group plus the most important
primary qualifier(코드번호)
- FAO90 :  the name of the soil unit in the FAO90 Revised Legend
- KOPPEN :  Kӧppen-Geiger climate classes (Tropical, Arid, Temperate,
Cold and Polar) 
- TEXTURE_USDA : Texture class (USDA conventions)
- REF_BULK_DENSITY : Reference bulk density is a property of particulate
materials. It is the mass of many particles of the material divided by the volume they occupy.
The volume includes the space between particles as well as the space inside the pores of
individual particles
- BULK_DENSITY : Bulk density is defined as “the mass of the many particles of the
material divided by the total volume they occupy”
- DRAINAGE : soil drainage refers to the natural capability of a soil to
remove excess water.

- ROOT_DEPTH : the depth to which plants can exploit the soil for nutrients and
moisture.

- AWC :  the maximum amount of water that the soil can hold that is
available for plant growth

- PHASE1 ,PHASE2 : phases are subdivisions of soil units based on characteristics which
are significant for the use or management of the land but are not diagnostic for the
separation of the soil units themselves

- ROOTS : Obstacle to roots: provides the depth class of an obstacle to roots.(ESDB)
- IL : Impermeable layer: indicates the presence of an impermeable layer within the soil
profile. (ESDB)

- ADD_PROP (Additional property) :  certain soil properties, inherent to the soil unit definition
that are relevant for agricultural use of the soil are vertic and gelic. The additional field provides
details on gelic properties (gelic soil groups in FAO90) and vertic properties (Vertisols, vertic
soil groups in FAO90).

- SWR : Soil Water Regime (ESDB)

- LAYER : Depth Layer (from D1 to D7)

- TOPDEP : Depth of top of layer

- BOTDEP : Depth of bottom of layer

- COARSE : Coarse fragments
- SAND 
- SILT 
- CLAY
- TEXTURE_SOTER : Texture class (SOTER conventions)
- BULK : Bulk Density
- REF_BULK : Reference Bulk Density
- ORG_CARBON : Organic Carbon Content
- PH_WATER :pH in water
- TOTAL_N :Total nitrogen content
- CN_RATIO :Carbon/Nitrogen ratio (C/N)
- CEC_SOIL : CEC soil, CATION EXCHANGE CAPACITY (CEC) of the fine earth fraction (cmolc/kg). The total nutrient
fixing capacity of a soil is well expressed by its Cation Exchange Capacity. 
- CEC_CLAY :CEC clay,corrected for contribution of organic matter (cmolc/kg). 
- CEC_EFF :. ECEC is defined as the sum of exchangeable (Ca++, Mg++,
K+, Na+) plus the sum of exchangeable (H+, Al+++) (Van Reeuwijk, 2002).
- TEB :Total exchangeable bases stand for the sum of
exchangeable cations in a soil: sodium (Na+), calcium (Ca++), magnesium (Mg++) and Potassium
(K+).
- BSAT : The base saturation measures the sum
of exchangeable cations (nutrients) Na+, Ca++, Mg++ and K+ as a percentage of the overall
exchange capacity of the soil (including the same cations plus H+ and Al+++)
- ALUM_SAT : The exchangeable aluminum
percentage (ALSA) has been set at zero when pHwater is higher than 5.5
-  ESP : The exchangeable sodium percentage has been used to indicate levels of sodium in soils.
- TCARBON_EQ : Calcium Carbonate
- GYPSUM : Gypsum is a chemical compound (a salt) which
occurs occasionally in soils particularly in the driest areas of the globe where it can occur in a
flower-like form typically opaque with embedded sand grains called desert rose. 
- ELEC_COND :  Coastal and desert soils can be enriched with water-soluble
salts or salts more soluble than gypsum. The salt content of a soil can be roughly estimated from
the Electrical Conductivity of the soil measured in a saturated soil paste or a more diluted
suspension of soil in water

포도 품종 예측에 필요한 컬럼

1. COVERAGE: Data source가 포함되어 있으므로 중요한 메타데이터 정보.
2. SHARE: Mapping unit 내에서의 토양 유닛의 비율.
3. WRB4: 주요 토양 참조 그룹과 주요 1차 지시자를 나타냄.
4. WRB_PHASES: WRB 토양 이름의 전체 기호.
5. WRB2: 주요 토양 참조 그룹과 주요 1차 지시자를 나타냄.
6. FAO90: FAO90 수정 전설의 토양 단위 이름.
7. KOPPEN: Kӧppen-Geiger 기후 클래스.
8. TEXTURE_USDA: USDA 규약에 따른 토양 질감 클래스.
9. REF_BULK_DENSITY: 참고 상대 밀도.
10. BULK_DENSITY: 상대 밀도.
11. DRAINAGE: 토양 배수 능력.
12. ROOT_DEPTH: 식물이 토양에서 영양분과 수분을 이용할 수 있는 깊이.
13. AWC: 식물 성장을 위한 토양의 최대 수분 보유량.
14. PHASE1, PHASE2: 토양 단위의 특성.
15. ROOTS: 뿌리의 장애물.
16. IL: 토양 프로파일 내에 있는 불투수층.
17. ADD_PROP: 농업적 이용에 관련된 특정 토양 특성.
18. SWR: 토양 수분 체제.
19. COARSE: 굵은 입자 비율.
20. SAND: 모래 비율.
21. SILT: 미사 비율.
22. CLAY: 점토 비율.
23. TEXTURE_SOTER: SOTER 규약에 따른 토양 질감 클래스.
24. BULK: 상대 밀도.
25. ORG_CARBON: 유기 탄소 함량.
26. PH_WATER: 물에서의 pH.
27. TOTAL_N: 총 질소 함량.
28. CN_RATIO: 탄소/질소 비율.
30. CEC_SOIL: 토양의 양이온 교환 능력.
31. CEC_CLAY: 점토의 양이온 교환 능력.
32. CEC_EFF: 유효 양이온 교환 능력.
33. TEB: 총 교환 가능한 염기.
34. BSAT: 염기 포화도.
35. ALUM_SAT: 교환 가능한 알루미늄 비율.
36. ESP: 교환 가능한 나트륨 비율.
37. TCARBON_EQ: 칼슘 탄산염 함량.
38. GYPSUM: 석고 함량.
39. ELEC_COND: 전기 전도도 (염분 함량 평가에 사용됨).

In [63]:
merge_data.columns

Index(['ID_x', 'HWSD2_SMU_ID', 'WISE30s_SMU_ID_x', 'HWSD1_SMU_ID_x',
       'COVERAGE_x', 'SHARE_x', 'WRB4_x', 'WRB_PHASES_x', 'WRB2_x',
       'WRB2_CODE', 'FAO90_x', 'KOPPEN', 'TEXTURE_USDA_x', 'REF_BULK_DENSITY',
       'BULK_DENSITY', 'DRAINAGE_x', 'ROOT_DEPTH_x', 'AWC_x', 'PHASE1_x',
       'PHASE2_x', 'ROOTS_x', 'IL_x', 'ADD_PROP_x', 'ID_y', 'NSC_MU_SOURCE1',
       'NSC_MU_SOURCE2', 'WISE30s_SMU_ID_y', 'HWSD1_SMU_ID_y', 'COVERAGE_y',
       'SEQUENCE', 'SHARE_y', 'NSC', 'WRB_PHASES_y', 'WRB4_y', 'WRB2_y',
       'FAO90_y', 'ROOT_DEPTH_y', 'PHASE1_y', 'PHASE2_y', 'ROOTS_y', 'IL_y',
       'SWR', 'DRAINAGE_y', 'AWC_y', 'ADD_PROP_y', 'LAYER', 'TOPDEP', 'BOTDEP',
       'COARSE', 'SAND', 'SILT', 'CLAY', 'TEXTURE_USDA_y', 'TEXTURE_SOTER',
       'BULK', 'REF_BULK', 'ORG_CARBON', 'PH_WATER', 'TOTAL_N', 'CN_RATIO',
       'CEC_SOIL', 'CEC_CLAY', 'CEC_EFF', 'TEB', 'BSAT', 'ALUM_SAT', 'ESP',
       'TCARBON_EQ', 'GYPSUM', 'ELEC_COND'],
      dtype='object')

In [4]:
len(HWSD2_LAYERS['HWSD2_SMU_ID'].unique())

7530

In [1]:
import pandas as pd

HWSD2_LAYERS = pd.read_excel('../토양 특성/HWSD2_LAYERS.xlsx')
HWSD2_LAYERS.head()

,ID,HWSD2_SMU_ID,NSC_MU_SOURCE1,NSC_MU_SOURCE2,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SEQUENCE,SHARE,NSC,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,1,1666,NaN,NaN,WD10001666,1666,4,1,70,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1
1,2,6309,NaN,NaN,WD10006309,6309,4,1,50,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1
2,3,1700,NaN,NaN,WD10001700,1700,4,1,60,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1
3,4,6310,NaN,NaN,WD10006310,6310,4,1,30,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1
4,5,6311,NaN,NaN,WD10006311,6311,4,1,50,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1

In [34]:
HWSD2_LAYERS_2 = pd.read_excel('../토양 특성/HWSD2_LAYERS_2.xlsx')
HWSD2_LAYERS_2.head()

,ID,HWSD2_SMU_ID,NSC_MU_SOURCE1,NSC_MU_SOURCE2,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SEQUENCE,SHARE,NSC,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,65534,4582,NaN,NaN,WD10004582,4582,4,3,10,NaN,...,16,40,12,14,68,33,3,0.0,1.3,1
1,65535,26600,NaN,NaN,WD10026600,26600,3,1,80,NaN,...,16,40,12,14,68,33,3,0.0,1.3,1
2,65536,31383,NaN,NaN,WD10031383,31383,3,2,49,NaN,...,16,40,12,14,68,33,3,0.0,1.3,1
3,65537,3758,NaN,NaN,WD10003758,3758,4,3,20,NaN,...,16,40,12,14,68,33,3,0.0,1.3,1
4,65538,18695,NaN,NaN,WD10018695,18695,3,1,60,NaN,...,16,40,12,14,68,33,3,0.0,1.3,1

In [35]:
HWSD2_LAYERS_3 = pd.read_excel('../토양 특성/HWSD2_LAYERS_3.xlsx')
HWSD2_LAYERS_3.head()

,ID,HWSD2_SMU_ID,NSC_MU_SOURCE1,NSC_MU_SOURCE2,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SEQUENCE,SHARE,NSC,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,131067,7095,NaN,NaN,WD40007095,7095,1,1,90,NaN,...,54,42,11,21,30,2,1,0.0,0.0,2
1,131068,7096,NaN,NaN,WD40007096,7096,1,1,90,NaN,...,54,42,11,21,30,2,1,0.0,0.0,2
2,131069,7107,NaN,NaN,WD40007107,7107,1,1,90,NaN,...,54,42,11,21,30,2,1,0.0,0.0,2
3,131070,7097,NaN,NaN,WD40007097,7097,1,1,90,NaN,...,54,42,11,21,30,2,1,0.0,0.0,2
4,131071,8889,NaN,NaN,WD40008889,8889,1,2,10,NaN,...,54,42,11,21,30,2,1,0.0,0.0,2

In [36]:
HWSD2_LAYERS_4 = pd.read_excel('../토양 특성/HWSD2_LAYERS_4.xlsx')
HWSD2_LAYERS_4.head()

,ID,HWSD2_SMU_ID,NSC_MU_SOURCE1,NSC_MU_SOURCE2,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SEQUENCE,SHARE,NSC,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,196600,10244,NaN,NaN,WD40010244,10244,1,2,40,NaN,...,11,36,36,36,99,0,2,26.5,1.1,2
1,196601,9926,NaN,NaN,WD40009926,9926,1,1,55,NaN,...,11,36,36,36,99,0,2,26.5,1.1,2
2,196602,10168,NaN,NaN,WD40010168,10168,1,3,20,NaN,...,11,36,36,36,99,0,2,26.5,1.1,2
3,196603,10173,NaN,NaN,WD40010173,10173,1,4,10,NaN,...,11,36,36,36,99,0,2,26.5,1.1,2
4,196604,10171,NaN,NaN,WD40010171,10171,1,2,25,NaN,...,11,36,36,36,99,0,2,26.5,1.1,2

In [37]:
HWSD2_LAYERS_5 = pd.read_excel('../토양 특성/HWSD2_LAYERS_5.xlsx')
HWSD2_LAYERS_5.head()

,ID,HWSD2_SMU_ID,NSC_MU_SOURCE1,NSC_MU_SOURCE2,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SEQUENCE,SHARE,NSC,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,262133,1684,NaN,NaN,WD20001684,1684,4,1,70,NaN,...,13,80,25,24,100,0,5,2.1,3.4,2
1,262134,1685,NaN,NaN,WD20001685,1685,4,1,70,NaN,...,13,80,25,24,100,0,5,2.1,3.4,2
2,262135,1683,NaN,NaN,WD20001683,1683,4,1,70,NaN,...,13,80,25,24,100,0,5,2.1,3.4,2
3,262136,1682,NaN,NaN,WD20001682,1682,4,1,70,NaN,...,13,80,25,24,100,0,5,2.1,3.4,2
4,262137,1681,NaN,NaN,WD20001681,1681,4,1,70,NaN,...,13,80,25,24,100,0,5,2.1,3.4,2

In [38]:
HWSD2_LAYERS_6 = pd.read_excel('../토양 특성/HWSD2_LAYERS_6.xlsx')
HWSD2_LAYERS_6.head()

,ID,HWSD2_SMU_ID,NSC_MU_SOURCE1,NSC_MU_SOURCE2,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SEQUENCE,SHARE,NSC,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,661746,36084,DMT,wen,WD10036084,36084,7,5,10,NaN,...,-7,-7,-7,-7,-7,-7,-7,-7.0,-7.0,-7
1,661747,36084,DMT,wen,WD10036084,36084,7,5,10,NaN,...,-7,-7,-7,-7,-7,-7,-7,-7.0,-7.0,-7
2,661748,36084,DMT,wen,WD10036084,36084,7,5,10,NaN,...,-7,-7,-7,-7,-7,-7,-7,-7.0,-7.0,-7
3,661749,36084,DMT,wen,WD10036084,36084,7,5,10,NaN,...,-7,-7,-7,-7,-7,-7,-7,-7.0,-7.0,-7
4,661750,36084,DMT,wen,WD10036084,36084,7,5,10,NaN,...,-7,-7,-7,-7,-7,-7,-7,-7.0,-7.0,-7

In [39]:
HWSD2_LAYERS_7 = pd.read_excel('../토양 특성/HWSD2_LAYERS_7.xlsx')
HWSD2_LAYERS_7.head()

,ID,HWSD2_SMU_ID,NSC_MU_SOURCE1,NSC_MU_SOURCE2,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SEQUENCE,SHARE,NSC,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,727279,47134,60_CE_4X_000,60_CE_4X_000,WD40047134,47134,8,1,100,NaN,...,17,55,44,44,100,0,2,19.0,0.2,0
1,727280,47134,60_CE_4X_000,60_CE_4X_000,WD40047134,47134,8,1,100,NaN,...,12,52,45,45,100,0,3,25.9,1.0,0
2,727281,47134,60_CE_4X_000,60_CE_4X_000,WD40047134,47134,8,1,100,NaN,...,12,43,46,46,100,0,5,25.4,3.3,0
3,727282,47134,60_CE_4X_000,60_CE_4X_000,WD40047134,47134,8,1,100,NaN,...,10,53,48,48,100,0,4,26.5,8.1,1
4,727283,47134,60_CE_4X_000,60_CE_4X_000,WD40047134,47134,8,1,100,NaN,...,10,59,44,44,100,0,5,20.1,6.8,1

In [40]:
HWSD2_LAYERS_raw = pd.concat([HWSD2_LAYERS, HWSD2_LAYERS_2, HWSD2_LAYERS_3, HWSD2_LAYERS_4, HWSD2_LAYERS_5, HWSD2_LAYERS_6, HWSD2_LAYERS_7], axis=0)

In [41]:
HWSD2_LAYERS_raw.shape

(408841, 48)

In [42]:
HWSD2_LAYERS_raw = HWSD2_LAYERS_raw.drop_duplicates()

In [43]:
HWSD2_LAYERS_raw.shape

(408835, 48)

In [44]:
HWSD2_LAYERS_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 408835 entries, 0 to 15636
Data columns (total 48 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              408835 non-null  int64
 1   HWSD2_SMU_ID    408835 non-null  int64
 2   NSC_MU_SOURCE1  108878 non-null  object
 3   NSC_MU_SOURCE2  108843 non-null  object
 4   WISE30s_SMU_ID  408835 non-null  object
 5   HWSD1_SMU_ID    408835 non-null  int64
 6   COVERAGE        408835 non-null  int64
 7   SEQUENCE        408835 non-null  int64
 8   SHARE           408835 non-null  int64
 9   NSC             0 non-null       float64
 10  WRB_PHASES      408825 non-null  object
 11  WRB4            396594 non-null  object
 12  WRB2            408835 non-null  object
 13  FAO90           408835 non-null  object
 14  ROOT_DEPTH      59917 non-null   float64
 15  PHASE1          112809 non-null  float64
 16  PHASE2          111029 non-null  float64
 17  ROOTS           70441 non-null   float64
 18  IL              70441 non-null   float64
 19  SWR             173012 non-null  float64
 20  DRAINAGE        345862 non-null  object
 21  AWC             58405 non-null   float64
 22  ADD_PROP        403599 non-null  float64
 23  LAYER           408835 non-null  object
 24  TOPDEP          408835 non-null  int64
 25  BOTDEP          408835 non-null  int64
 26  COARSE          408835 non-null  int64
 27  SAND            408835 non-null  int64
 28  SILT            408835 non-null  int64
 29  CLAY            408835 non-null  int64
 30  TEXTURE_USDA    346251 non-null  float64
 31  TEXTURE_SOTER   408835 non-null  object
 32  BULK            408835 non-null  float64
 33  REF_BULK        346251 non-null  float64
 34  ORG_CARBON      385170 non-null  float64
 35  PH_WATER        408835 non-null  float64
 36  TOTAL_N         408835 non-null  float64
 37  CN_RATIO        408835 non-null  int64
 38  CEC_SOIL        408835 non-null  int64
 39  CEC_CLAY        408835 non-null  int64
 40  CEC_EFF         408835 non-null  int64
 41  TEB             408835 non-null  int64
 42  BSAT            408835 non-null  int64
 43  ALUM_SAT        408835 non-null  int64
 44  ESP             408835 non-null  int64
 45  TCARBON_EQ      408835 non-null  float64
 46  GYPSUM          408835 non-null  float64
 47  ELEC_COND       408835 non-null  int64
dtypes: float64(17), int64(21), object(10)
memory usage: 152.8+ MB

In [45]:
HWSD2_LAYERS_raw.reset_index(drop=True)

,ID,HWSD2_SMU_ID,NSC_MU_SOURCE1,NSC_MU_SOURCE2,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SEQUENCE,SHARE,NSC,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,1,1666,NaN,NaN,WD10001666,1666,4,1,70,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1
1,2,6309,NaN,NaN,WD10006309,6309,4,1,50,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1
2,3,1700,NaN,NaN,WD10001700,1700,4,1,60,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1
3,4,6310,NaN,NaN,WD10006310,6310,4,1,30,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1
4,5,6311,NaN,NaN,WD10006311,6311,4,1,50,NaN,...,8,50,4,5,71,0,4,0.0,2.9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408830,742911,49830,81_TA_0X_000,81_TA_0X_000,WD30049830,49830,8,1,100,NaN,...,-9,-9,-9,-9,-9,-9,-9,-9.0,-9.0,-9
408831,742912,49830,81_TA_0X_000,81_TA_0X_000,WD30049830,49830,8,1,100,NaN,...,-9,-9,-9,-9,-9,-9,-9,-9.0,-9.0,-9
408832,742913,49830,81_TA_0X_000,81_TA_0X_000,WD30049830,49830,8,1,100,NaN,...,-9,-9,-9,-9,-9,-9,-9,-9.0,-9.0,-9
408833,742914,49830,81_TA_0X_000,81_TA_0X_000,WD30049830,49830,8,1,100,NaN,...,-9,-9,-9,-9,-9,-9,-9,-9.0,-9.0,-9
408834,742915,49830,81_TA_0X_000,81_TA_0X_000,WD30049830,49830,8,1,100,NaN,...,-9,-9,-9,-9,-9,-9,-9,-9.0,-9.0,-9

In [46]:
HWSD2_LAYERS_raw.to_csv('HWSD2_LAYERS_raw.csv')

In [58]:
HWSD2_SMU_1 = pd.read_excel('../토양 특성/HWSD2_SMU_1.xlsx')
HWSD2_SMU_1.head()

,ID,HWSD2_SMU_ID,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SHARE,WRB4,WRB_PHASES,WRB2,WRB2_CODE,...,REF_BULK_DENSITY,BULK_DENSITY,DRAINAGE,ROOT_DEPTH,AWC,PHASE1,PHASE2,ROOTS,IL,ADD_PROP
0,669,12707,WD10012707,12707,3,40,ALfr,ALfr,AL,2,...,1.63,1.35,MW,1,168,NaN,NaN,NaN,NaN,0.0
1,695,11825,WD30011825,11825,2,100,ALfr,ALfr,AL,2,...,1.76,1.44,MW,1,152,NaN,NaN,NaN,NaN,0.0
2,696,11823,WD30011823,11823,2,100,ALfr,ALfr,AL,2,...,1.76,1.44,MW,1,152,NaN,NaN,NaN,NaN,0.0
3,697,13458,WD30013458,13458,3,100,ALfr,ALfr,AL,2,...,1.76,1.44,MW,1,152,NaN,NaN,NaN,NaN,0.0
4,698,11824,WD30011824,11824,2,100,ALfr,ALfr,AL,2,...,1.76,1.44,MW,1,152,NaN,NaN,NaN,NaN,0.0

In [ ]:
HWSD2_SMU_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29538 entries, 0 to 29537
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                29538 non-null  int64
 1   HWSD2_SMU_ID      29538 non-null  int64
 2   WISE30s_SMU_ID    29538 non-null  object
 3   HWSD1_SMU_ID      29538 non-null  int64
 4   COVERAGE          29538 non-null  int64
 5   SHARE             29538 non-null  int64
 6   WRB4              27790 non-null  object
 7   WRB_PHASES        29528 non-null  object
 8   WRB2              27790 non-null  object
 9   WRB2_CODE         29538 non-null  int64
 10  FAO90             29538 non-null  object
 11  KOPPEN            29538 non-null  object
 12  TEXTURE_USDA      28748 non-null  float64
 13  REF_BULK_DENSITY  28748 non-null  float64
 14  BULK_DENSITY      29538 non-null  float64
 15  DRAINAGE          28698 non-null  object
 16  ROOT_DEPTH        29538 non-null  int64
 17  AWC               29538 non-null  int64
 18  PHASE1            17056 non-null  float64
 19  PHASE2            15276 non-null  float64
 20  ROOTS             3468 non-null   float64
 21  IL                3468 non-null   float64
 22  ADD_PROP          28902 non-null  float64
dtypes: float64(8), int64(8), object(7)
memory usage: 5.2+ MB

In [67]:
HWSD2_SMU_1[HWSD2_SMU_1.HWSD2_SMU_ID==361]

,ID,HWSD2_SMU_ID,WISE30s_SMU_ID,HWSD1_SMU_ID,COVERAGE,SHARE,WRB4,WRB_PHASES,WRB2,WRB2_CODE,...,REF_BULK_DENSITY,BULK_DENSITY,DRAINAGE,ROOT_DEPTH,AWC,PHASE1,PHASE2,ROOTS,IL,ADD_PROP
2297,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,1.68,1.45,MW,1,150,1.0,NaN,NaN,NaN,0.0

In [ ]:
HWSD2_SMU_1= HWSD2_SMU_1.drop_duplicates()

In [ ]:
HWSD2_SMU_1.to_csv('HWSD2_SMU.csv')

# 전체 layer 있는 DATA

In [59]:
merge_data = pd.merge(HWSD2_SMU_1,HWSD2_LAYERS_raw,how = 'left', on='HWSD2_SMU_ID')
merge_data.head()

,ID_x,HWSD2_SMU_ID,WISE30s_SMU_ID_x,HWSD1_SMU_ID_x,COVERAGE_x,SHARE_x,WRB4_x,WRB_PHASES_x,WRB2_x,WRB2_CODE,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,669,12707,WD10012707,12707,3,40,ALfr,ALfr,AL,2,...,8,46,6,5,59,0,2,0.0,0.1,1
1,669,12707,WD10012707,12707,3,40,ALfr,ALfr,AL,2,...,9,41,4,4,44,0,2,0.0,0.0,1
2,669,12707,WD10012707,12707,3,40,ALfr,ALfr,AL,2,...,11,39,5,4,38,0,2,0.0,0.0,1
3,669,12707,WD10012707,12707,3,40,ALfr,ALfr,AL,2,...,13,32,6,4,36,0,2,0.0,0.0,1
4,669,12707,WD10012707,12707,3,40,ALfr,ALfr,AL,2,...,14,32,7,4,36,0,2,0.0,0.0,1

In [60]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408835 entries, 0 to 408834
Data columns (total 70 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID_x              408835 non-null  int64
 1   HWSD2_SMU_ID      408835 non-null  int64
 2   WISE30s_SMU_ID_x  408835 non-null  object
 3   HWSD1_SMU_ID_x    408835 non-null  int64
 4   COVERAGE_x        408835 non-null  int64
 5   SHARE_x           408835 non-null  int64
 6   WRB4_x            396599 non-null  object
 7   WRB_PHASES_x      408632 non-null  object
 8   WRB2_x            396599 non-null  object
 9   WRB2_CODE         408835 non-null  int64
 10  FAO90_x           408835 non-null  object
 11  KOPPEN            408835 non-null  object
 12  TEXTURE_USDA_x    401233 non-null  float64
 13  REF_BULK_DENSITY  401233 non-null  float64
 14  BULK_DENSITY      408835 non-null  float64
 15  DRAINAGE_x        400862 non-null  object
 16  ROOT_DEPTH_x      408835 non-null  int64
 17  AWC_x             408835 non-null  int64
 18  PHASE1_x          181426 non-null  float64
 19  PHASE2_x          149751 non-null  float64
 20  ROOTS_x           70441 non-null   float64
 21  IL_x              70441 non-null   float64
 22  ADD_PROP_x        403599 non-null  float64
 23  ID_y              408835 non-null  int64
 24  NSC_MU_SOURCE1    108878 non-null  object
 25  NSC_MU_SOURCE2    108843 non-null  object
 26  WISE30s_SMU_ID_y  408835 non-null  object
 27  HWSD1_SMU_ID_y    408835 non-null  int64
 28  COVERAGE_y        408835 non-null  int64
 29  SEQUENCE          408835 non-null  int64
 30  SHARE_y           408835 non-null  int64
 31  NSC               0 non-null       float64
 32  WRB_PHASES_y      408825 non-null  object
 33  WRB4_y            396594 non-null  object
 34  WRB2_y            408835 non-null  object
 35  FAO90_y           408835 non-null  object
 36  ROOT_DEPTH_y      59917 non-null   float64
 37  PHASE1_y          112809 non-null  float64
 38  PHASE2_y          111029 non-null  float64
 39  ROOTS_y           70441 non-null   float64
 40  IL_y              70441 non-null   float64
 41  SWR               173012 non-null  float64
 42  DRAINAGE_y        345862 non-null  object
 43  AWC_y             58405 non-null   float64
 44  ADD_PROP_y        403599 non-null  float64
 45  LAYER             408835 non-null  object
 46  TOPDEP            408835 non-null  int64
 47  BOTDEP            408835 non-null  int64
 48  COARSE            408835 non-null  int64
 49  SAND              408835 non-null  int64
 50  SILT              408835 non-null  int64
 51  CLAY              408835 non-null  int64
 52  TEXTURE_USDA_y    346251 non-null  float64
 53  TEXTURE_SOTER     408835 non-null  object
 54  BULK              408835 non-null  float64
 55  REF_BULK          346251 non-null  float64
 56  ORG_CARBON        385170 non-null  float64
 57  PH_WATER          408835 non-null  float64
 58  TOTAL_N           408835 non-null  float64
 59  CN_RATIO          408835 non-null  int64
 60  CEC_SOIL          408835 non-null  int64
 61  CEC_CLAY          408835 non-null  int64
 62  CEC_EFF           408835 non-null  int64
 63  TEB               408835 non-null  int64
 64  BSAT              408835 non-null  int64
 65  ALUM_SAT          408835 non-null  int64
 66  ESP               408835 non-null  int64
 67  TCARBON_EQ        408835 non-null  float64
 68  GYPSUM            408835 non-null  float64
 69  ELEC_COND         408835 non-null  int64
dtypes: float64(25), int64(28), object(17)
memory usage: 218.3+ MB

In [61]:
merge_data.columns

Index(['ID_x', 'HWSD2_SMU_ID', 'WISE30s_SMU_ID_x', 'HWSD1_SMU_ID_x',
       'COVERAGE_x', 'SHARE_x', 'WRB4_x', 'WRB_PHASES_x', 'WRB2_x',
       'WRB2_CODE', 'FAO90_x', 'KOPPEN', 'TEXTURE_USDA_x', 'REF_BULK_DENSITY',
       'BULK_DENSITY', 'DRAINAGE_x', 'ROOT_DEPTH_x', 'AWC_x', 'PHASE1_x',
       'PHASE2_x', 'ROOTS_x', 'IL_x', 'ADD_PROP_x', 'ID_y', 'NSC_MU_SOURCE1',
       'NSC_MU_SOURCE2', 'WISE30s_SMU_ID_y', 'HWSD1_SMU_ID_y', 'COVERAGE_y',
       'SEQUENCE', 'SHARE_y', 'NSC', 'WRB_PHASES_y', 'WRB4_y', 'WRB2_y',
       'FAO90_y', 'ROOT_DEPTH_y', 'PHASE1_y', 'PHASE2_y', 'ROOTS_y', 'IL_y',
       'SWR', 'DRAINAGE_y', 'AWC_y', 'ADD_PROP_y', 'LAYER', 'TOPDEP', 'BOTDEP',
       'COARSE', 'SAND', 'SILT', 'CLAY', 'TEXTURE_USDA_y', 'TEXTURE_SOTER',
       'BULK', 'REF_BULK', 'ORG_CARBON', 'PH_WATER', 'TOTAL_N', 'CN_RATIO',
       'CEC_SOIL', 'CEC_CLAY', 'CEC_EFF', 'TEB', 'BSAT', 'ALUM_SAT', 'ESP',
       'TCARBON_EQ', 'GYPSUM', 'ELEC_COND'],
      dtype='object')

In [79]:
merge_data.loc[merge_data.HWSD2_SMU_ID == 361]

,ID_x,HWSD2_SMU_ID,WISE30s_SMU_ID_x,HWSD1_SMU_ID_x,COVERAGE_x,SHARE_x,WRB4_x,WRB_PHASES_x,WRB2_x,WRB2_CODE,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
40467,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,14,67,38,38,100,0,2,13.9,0.2,1
40468,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,14,56,43,43,100,0,4,19.2,0.4,1
40469,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,13,53,45,45,100,0,6,24.3,0.6,3
40470,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,12,55,47,47,100,0,12,25.5,0.6,2
40471,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,12,57,49,49,100,0,15,25.6,1.4,2
40472,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,11,53,50,50,100,0,27,22.7,4.6,2
40473,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,11,57,51,50,100,0,32,20.3,3.6,2
40474,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,16,71,37,38,97,0,7,11.3,0.6,2
40475,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,17,75,39,39,98,0,7,11.7,0.7,1
40476,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,16,74,38,40,97,0,8,11.9,0.9,1
40477,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,15,72,38,39,96,0,10,11.9,1.1,2
40478,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,16,69,42,42,96,0,9,12.0,1.6,2
40479,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,15,69,45,46,96,0,9,12.2,1.3,2
40480,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,15,63,50,50,100,0,16,14.3,1.8,3
40481,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,10,47,111,111,100,0,4,14.3,38.9,2
40482,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,8,37,144,144,100,0,8,14.0,47.0,3
40483,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,8,34,174,174,100,0,31,13.7,47.6,3
40484,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,7,34,182,182,100,0,36,12.5,44.6,3
40485,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,7,35,185,185,100,0,34,12.4,42.1,3
40486,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,7,39,186,186,100,0,21,12.1,38.3,4
40487,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,7,40,202,202,100,0,36,12.5,34.1,4
40488,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,14,83,37,37,99,0,4,9.3,3.3,1
40489,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,13,81,39,38,100,0,5,11.2,1.8,2
40490,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,13,86,40,40,100,0,6,11.2,1.6,2
40491,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,13,92,42,41,99,0,8,10.5,1.1,2
40492,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,12,92,46,46,99,0,10,9.5,1.2,1
40493,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,11,86,48,47,99,0,13,8.9,1.7,3
40494,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,11,94,59,59,100,0,38,8.8,2.7,3

In [80]:
merge_data['LAYER'].value_counts()

LAYER
D1    58405
D2    58405
D3    58405
D4    58405
D5    58405
D6    58405
D7    58405
Name: count, dtype: int64

In [81]:
merge_data['SEQUENCE'].value_counts()

SEQUENCE
1     206766
2     105735
3      58303
4      24500
5       9072
6       3199
7        700
8        301
9        133
10        77
11        28
12        21
Name: count, dtype: int64

# Depth_layer 1 까지만 있는 DATA

In [69]:
merge_data_2 = pd.merge(HWSD2_SMU_1,HWSD2_LAYERS_raw,how = 'inner', left_on='ID',right_on='ID')
merge_data_2.head()

,ID,HWSD2_SMU_ID_x,WISE30s_SMU_ID_x,HWSD1_SMU_ID_x,COVERAGE_x,SHARE_x,WRB4_x,WRB_PHASES_x,WRB2_x,WRB2_CODE,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
0,669,12707,WD10012707,12707,3,40,ALfr,ALfr,AL,2,...,8,46,6,5,59,0,2,0.0,0.1,1
1,695,11825,WD30011825,11825,2,100,ALfr,ALfr,AL,2,...,9,20,6,4,41,50,2,0.0,0.1,0
2,696,11823,WD30011823,11823,2,100,ALfr,ALfr,AL,2,...,9,20,6,4,41,50,2,0.0,0.1,0
3,697,13458,WD30013458,13458,3,100,ALfr,ALfr,AL,2,...,9,20,6,4,41,50,2,0.0,0.1,0
4,698,11824,WD30011824,11824,2,100,ALfr,ALfr,AL,2,...,9,20,6,4,41,50,2,0.0,0.1,0

In [70]:
merge_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29538 entries, 0 to 29537
Data columns (total 70 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                29538 non-null  int64
 1   HWSD2_SMU_ID_x    29538 non-null  int64
 2   WISE30s_SMU_ID_x  29538 non-null  object
 3   HWSD1_SMU_ID_x    29538 non-null  int64
 4   COVERAGE_x        29538 non-null  int64
 5   SHARE_x           29538 non-null  int64
 6   WRB4_x            27790 non-null  object
 7   WRB_PHASES_x      29528 non-null  object
 8   WRB2_x            27790 non-null  object
 9   WRB2_CODE         29538 non-null  int64
 10  FAO90_x           29538 non-null  object
 11  KOPPEN            29538 non-null  object
 12  TEXTURE_USDA_x    28748 non-null  float64
 13  REF_BULK_DENSITY  28748 non-null  float64
 14  BULK_DENSITY      29538 non-null  float64
 15  DRAINAGE_x        28698 non-null  object
 16  ROOT_DEPTH_x      29538 non-null  int64
 17  AWC_x             29538 non-null  int64
 18  PHASE1_x          17056 non-null  float64
 19  PHASE2_x          15276 non-null  float64
 20  ROOTS_x           3468 non-null   float64
 21  IL_x              3468 non-null   float64
 22  ADD_PROP_x        28902 non-null  float64
 23  HWSD2_SMU_ID_y    29538 non-null  int64
 24  NSC_MU_SOURCE1    13125 non-null  object
 25  NSC_MU_SOURCE2    13121 non-null  object
 26  WISE30s_SMU_ID_y  29538 non-null  object
 27  HWSD1_SMU_ID_y    29538 non-null  int64
 28  COVERAGE_y        29538 non-null  int64
 29  SEQUENCE          29538 non-null  int64
 30  SHARE_y           29538 non-null  int64
 31  NSC               0 non-null      float64
 32  WRB_PHASES_y      29528 non-null  object
 33  WRB4_y            27790 non-null  object
 34  WRB2_y            29538 non-null  object
 35  FAO90_y           29538 non-null  object
 36  ROOT_DEPTH_y      29538 non-null  float64
 37  PHASE1_y          17056 non-null  float64
 38  PHASE2_y          15276 non-null  float64
 39  ROOTS_y           3468 non-null   float64
 40  IL_y              3468 non-null   float64
 41  SWR               16000 non-null  float64
 42  DRAINAGE_y        28698 non-null  object
 43  AWC_y             29538 non-null  float64
 44  ADD_PROP_y        28902 non-null  float64
 45  LAYER             29538 non-null  object
 46  TOPDEP            29538 non-null  int64
 47  BOTDEP            29538 non-null  int64
 48  COARSE            29538 non-null  int64
 49  SAND              29538 non-null  int64
 50  SILT              29538 non-null  int64
 51  CLAY              29538 non-null  int64
 52  TEXTURE_USDA_y    28748 non-null  float64
 53  TEXTURE_SOTER     29538 non-null  object
 54  BULK              29538 non-null  float64
 55  REF_BULK          28748 non-null  float64
 56  ORG_CARBON        28944 non-null  float64
 57  PH_WATER          29538 non-null  float64
 58  TOTAL_N           29538 non-null  float64
 59  CN_RATIO          29538 non-null  int64
 60  CEC_SOIL          29538 non-null  int64
 61  CEC_CLAY          29538 non-null  int64
 62  CEC_EFF           29538 non-null  int64
 63  TEB               29538 non-null  int64
 64  BSAT              29538 non-null  int64
 65  ALUM_SAT          29538 non-null  int64
 66  ESP               29538 non-null  int64
 67  TCARBON_EQ        29538 non-null  float64
 68  GYPSUM            29538 non-null  float64
 69  ELEC_COND         29538 non-null  int64
dtypes: float64(25), int64(28), object(17)
memory usage: 15.8+ MB

In [78]:
merge_data_2.loc[merge_data_2. HWSD2_SMU_ID_x == 361]

,ID,HWSD2_SMU_ID_x,WISE30s_SMU_ID_x,HWSD1_SMU_ID_x,COVERAGE_x,SHARE_x,WRB4_x,WRB_PHASES_x,WRB2_x,WRB2_CODE,...,CEC_SOIL,CEC_CLAY,CEC_EFF,TEB,BSAT,ALUM_SAT,ESP,TCARBON_EQ,GYPSUM,ELEC_COND
2297,36131,361,WD20000361,361,4,50,CLha,CLkk,CL,7,...,14,67,38,38,100,0,2,13.9,0.2,1

In [76]:
merge_data_2['LAYER'].value_counts()

LAYER
D1    29538
Name: count, dtype: int64

In [77]:
merge_data_2['SEQUENCE'].value_counts()

SEQUENCE
1    29538
Name: count, dtype: int64

In [ ]:
merge_data_2.columns

Index(['ID', 'HWSD2_SMU_ID_x', 'WISE30s_SMU_ID_x', 'HWSD1_SMU_ID_x',
       'COVERAGE_x', 'SHARE_x', 'WRB4_x', 'WRB_PHASES_x', 'WRB2_x',
       'WRB2_CODE', 'FAO90_x', 'KOPPEN', 'TEXTURE_USDA_x', 'REF_BULK_DENSITY',
       'BULK_DENSITY', 'DRAINAGE_x', 'ROOT_DEPTH_x', 'AWC_x', 'PHASE1_x',
       'PHASE2_x', 'ROOTS_x', 'IL_x', 'ADD_PROP_x', 'HWSD2_SMU_ID_y',
       'NSC_MU_SOURCE1', 'NSC_MU_SOURCE2', 'WISE30s_SMU_ID_y',
       'HWSD1_SMU_ID_y', 'COVERAGE_y', 'SEQUENCE', 'SHARE_y', 'NSC',
       'WRB_PHASES_y', 'WRB4_y', 'WRB2_y', 'FAO90_y', 'ROOT_DEPTH_y',
       'PHASE1_y', 'PHASE2_y', 'ROOTS_y', 'IL_y', 'SWR', 'DRAINAGE_y', 'AWC_y',
       'ADD_PROP_y', 'LAYER', 'TOPDEP', 'BOTDEP', 'COARSE', 'SAND', 'SILT',
       'CLAY', 'TEXTURE_USDA_y', 'TEXTURE_SOTER', 'BULK', 'REF_BULK',
       'ORG_CARBON', 'PH_WATER', 'TOTAL_N', 'CN_RATIO', 'CEC_SOIL', 'CEC_CLAY',
       'CEC_EFF', 'TEB', 'BSAT', 'ALUM_SAT', 'ESP', 'TCARBON_EQ', 'GYPSUM',
       'ELEC_COND'],
      dtype='object')

---

# 나라, 지역 정보 찾기

- 이코드는 원하는 정보를 얻을수 없음

In [48]:
import geopandas as gpd

file_path = "C:/Users/user/OneDrive/문서/사용자 지정 Office 서식 파일/바탕 화면/ML_PRJ/ML_wine/GLOSIS 글로벌 토양 특성/country.shp"
gdf = gpd.read_file(file_path)

# GeoDataFrame을 pandas DataFrame으로 변환
# df = gdf.drop(columns='geometry')  # 지오메트리 컬럼을 제외할 경우
df = gdf  # 지오메트리 컬럼 포함

# 데이터 확인
df.head()

                                            geometry
0  MULTILINESTRING ((180.000 -84.426, 180.000 -89...
1  LINESTRING (-69.872 12.441, -69.871 12.437, -6...
2  LINESTRING (74.890 37.234, 74.889 37.231, 74.8...
3  LINESTRING (61.274 35.605, 61.276 35.597, 61.2...
4  LINESTRING (74.565 37.031, 74.523 37.019, 74.5...

In [ ]:
# !pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   --------- ------------------------------ 30.7/125.4 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 125.4/125.4 kB 2.5 MB/s eta 0:00:00
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
   ---------------------------------------- 40.3/40.3 kB ? eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [56]:
import geopandas as gpd
from geopy.geocoders import GoogleV3
from shapely.geometry import Point

# Google Geocoding 서비스 초기화
API_KEY = ''
geolocator = GoogleV3(api_key=API_KEY)

# GeoDataFrame에서 첫 번째 좌표 가져오기 (예제)
geo_country = df.copy()

def get_country_region(geometry):
    if geometry.geom_type == 'LineString':
        point = geometry.interpolate(0.5)  # 중앙 지점을 사용
    elif geometry.geom_type == 'MultiLineString':
        point = geometry.interpolate(0.5)  # 첫 번째 LineString 사용

    location = geolocator.reverse((point.y, point.x))
    if location:
        address = location.raw.get('address_components', [])
        country = state = None
        for component in address:
            if 'country' in component['types']:
                country = component['long_name']
            elif 'administrative_area_level_1' in component['types']:
                state = component['long_name']
        return country, state

# 각 지오메트리의 나라와 지역 정보 가져오기
geo_country['country_region'] = geo_country['geometry'].apply(get_country_region)
geo_country

,geometry,country_region
0,"MULTILINESTRING ((180.000 -84.426, 180.000 -89...","(None, None)"
1,"LINESTRING (-69.872 12.441, -69.871 12.437, -6...","(Aruba, None)"
2,"LINESTRING (74.890 37.234, 74.889 37.231, 74.8...","(None, None)"
3,"LINESTRING (61.274 35.605, 61.276 35.597, 61.2...","(Afghanistan, Herat)"
4,"LINESTRING (74.565 37.031, 74.523 37.019, 74.5...","(None, None)"
...,...,...
534,"MULTILINESTRING ((121.605 -10.606, 121.612 -10...","(Indonesia, East Nusa Tenggara)"
535,"LINESTRING (124.043 -9.336, 124.052 -9.335, 12...","(Indonesia, East Nusa Tenggara)"
536,"LINESTRING (34.269 31.221, 34.334 31.265, 34.3...","(Israel, South District)"
537,"LINESTRING (35.476 31.493, 35.408 31.495, 35.4...","(Israel, South District)"
538,"LINESTRING (28.426 10.167, 28.435 10.167, 28.4...","(None, None)"